/* Structure */
#ServiceList{
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
  box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
}
.bookingDeatailsBody {
  background: #eee;
  position: fixed;
  width: 60%;
  margin: 2% 20%;
  padding: 15px;
}


.font12 {
 /*font-size: 13px; */ 
}
.width-25{
  /* widows: 25%; */
  width:33%;
  overflow:auto;
}

.padding-0 {
  padding: 0px;
}

.navbar-header-left {
  width: calc(50% - 50px);
  float: left
}

.job_id_body {
  padding: 0px 8px;
  max-height: 300px;
  transition: max-height 300ms;
  padding-top: 5px;
}

.details_task_footer {
  /*background: #f6f6f6;*/
  position: fixed;
  background: transparent;
  height: 40px !important;
  overflow: hidden !important;
  padding: 8px !important;
  bottom: 1px !important;
}

.bottom-0 {
  background: #f6f6f6;
  height: 40px !important;
  overflow: hidden !important;
  padding: 8px !important;
  position: fixed;
  /*bottom: 0 !important;*/
  padding: 15px;
  overflow: auto;
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

div#details_task_header {
  background: #f6f6f6;
  height: 40px;
  padding: 0px 20px !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

span#details_task_header_right {
  float: right;
  line-height: 38px;
  color: red;
 /*font-size: 13px; */ 
  margin-right: 15px;
}

span#details_task_header_left {
  float: left;
  line-height: 37px;
 /* font-size: 13px !important; */;
  font-weight: 600;
  margin-left: 15px;
}

ul#details_task_tabs li.active a {
  background: transparent;
  color: #f47f51!important;
  border: 0px;
  border-radius: 0px;
  border-bottom: 3px solid #399cd1;
 /* font-size: 13px !important; */;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

ul#details_task_tabs li a {
  background: transparent;
  color: #b8b8b8;
  border: 0px;
  border-radius: 0px;
  border-bottom: 3px solid #ffffff;
 /* font-size: 13px !important; */;
  font-weight: 600;
  transition: all 300ms ease-in-out;
}

ul#details_task_tabs {
  padding-left: 30px;
  border-bottom: 2px solid #f5f3f3;
}

button#details_task_cancel {
  background: #f0524f;
  border: 0px;
  padding: 4px 43px;
  color: #fff;
 /*font-size: 13px; */ 
  border-bottom: 2px solid #d4d1d1;
}

.details_task_inner_details {
  width: 100%;
  display: inline-block;
  padding: 0 5px;
 /*font-size: 13px; */ 
}
.clear-fix {
  width: 100%;
  float: left;
}

.ht-90.fix-slots.clear-fix {
  max-height: 340px;
  min-height: 340px;
  overflow-y: scroll;
}

.left-fix-rightSideAlways {
  float: right;
}
#details_task_job_details_top, #details_task_job_details_bottom {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
  width: 100%;
  float: left;
  padding: 10px 30px;
}

.left-job-details {
  margin-top: 15px;
  float: left;
}

.right-job-details {
  margin-top: 15px;
  float: right;
}

.width-50 {
  width: 50%;
  overflow: auto;
}

#details_job_services, #details_job_payment {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
  /* padding: 0 30px 15px 30px; */
  padding: 5px 16px;
  overflow: auto;
}
.points_text {
  color: #000;
  font-weight: bold;
 /*font-size: 13px; */ 
}

.points_text_header {
  color: #000;
  font-weight: bold;
 /*font-size: 13px; */ 
  margin-top: 10px;
}

.points_text_header_span {
  margin-right: 5px;
  /*font-weight: bold;*/
  width: 30%;
  float: left;
  text-align: center;
}
.points_text {
  color: #000;
  font-weight: bold;
 /*font-size: 13px; */ 
}
.profile-details {
  margin-left: 45px;
  margin-top: 5px;
}
.points_text.width_for {
  width: 40px;
  display: inline-block;
}

.details_task_driver_details {
  font-weight: 600;
  color: #565856;
 /*font-size: 13px; */ 
}

.points_text.width_for2 {
  width: 83px;
  display: -webkit-inline-box;
}
.job_id_add2 {
  display: inline-block;
  min-height: 45px;
 /*font-size: 13px; */ 
}
.booking-time {
 /*font-size: 13px; */ 
}
.left-job-details {
  margin-top: 15px;
  float: left;
}
.right-job-details {
  margin-top: 15px;
  float: right;
}
.details_task_inner_details .glyphicon {
 /*font-size: 13px; */ 
}

.details_task_ordered_det .glyphicon {
  color: #afacac!important;
  margin-left: 0px!important;
  margin-right: 9px;
  line-height: 21px;
}
.mrt-0 {
  margin-top: 0px !important;
}

.mrt-15 {
  margin-top: 15px !important;
}
.fl-left {
  float: left;
}

.fl-right {
  float: right;
}
.fl-left {
  float: left;
}

.fl-right {
  float: right;
}

.details_task_ordered_name li {
  list-style: none;
  padding: 0px 0px;
}
.font12 {
 /*font-size: 13px; */ 
}
.padding-0 {
  padding: 0px;
}
.mt-10 {
  margin-top: 10px;
}
.activity_body, .provider_activity_body {
  width: 100%;
  min-height: 56px;
  background: #fff;
  position: relative
}

.provider_activity_body {
  min-height: 45px;
  padding: 10px;
}
.provider_bullet_points {
  width: 10px;
  height: 10px;
  background: #118cce;
  content: '';
  border-radius: 36px;
  display: inline-block;
  position: absolute;
  border: 1px solid #d0d0d0;
  left: 10px;
}
.provider_activity_status {
  position: absolute;
  left: 25px;
  color: grey;
  /* /*font-size: 13px; */ 
  /* top: 6px; */
}
.activity_status_text {
  /*border: 1px solid #d7d7d7;*/
  padding: 0px 5px;
  border-radius: 5px;
  /*background: #fff7f7;*/
}
.tabs_details.details_description2, .tabs_details.details_description3 {
  width: 100%;
  /* height: 395px; */
  background: #f9f9f9;
  border-radius: 4px;
  padding: 10px;
}
.provider_bullet_line {
  width: 1px;
  display: inline-block;
  background: #d5caca;
  height: 78%;
  position: absolute;
  left: 15px;
  bottom: 0;
  /*padding-top: 10px !important;*/
}
.padding-0 {
  padding: 0px;
}
.padding-0 {
  padding-top: 0 !important;
}





/* task structure*/
.example-container {
    padding: 15px;
      display: flex;
      flex-direction: column;
      min-width: 300px;
    }
    
    .example-header {
      min-height: 64px;
      padding: 8px 24px 0;
    }
    
    .mat-form-field {
     /*font-size: 13px; */ 
      width: 100%;
    }
    
    .mat-table {
      overflow: auto;
    }
      
    .mat-form-field-ripple {
      background-color: #f47f51!important;
  }
    .mat-form-field.mat-focused.mat-primary .mat-select-arrow {
      color:  #f47f51!important;
    }
  
    .detailClick{
      cursor: pointer;
      color: #f47f51!important;
      
    }
    .detailClick:hover{
      color:#f47f51!important;
    }
  
  
    .taskScroller{
      height: 67vh;
      /* overflow-y: scroll; */
  }
  
  .taskScroller::-webkit-scrollbar-track
  {
   /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* background-color: #F5F5F5; */
    background-color:#dad9d9;
  }
  
  .taskScroller::-webkit-scrollbar
  {
   width: 5px;
     /* background-color: #F5F5F5; */
     background-color:#dad9d9;
  }
  
  .taskScroller::-webkit-scrollbar-thumb
  {
   background-color: #f47f51!important;
   border: 1px solid  #f47f51!important;
  }
  div.mat-input-underline.mat-form-field-underline
  {
    background-color: #f47f51!important;
  }
  .mrg10{
    margin-top: 10px;
    margin-bottom: 5px;
    /* background-color: #f47f51!important; */
  }
  
  .refresh{
    padding: 15px;
    text-align: center;
    cursor: pointer;
   /*font-size: 13px; */ 
  }
  
  .refresh a{
    color:  #f47f51!important;
  }
  
  .refresh a:hover{
    color: #f47f51!important;
  }
  
  .pad0{
    padding-right: 0px;
    padding-left: 0px;
  }
  
  .loadinggif 
  {
     background:
       url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')
       no-repeat
       right center;
       right: 5px;
  }
  
  #loading {
    -webkit-animation: rotation 1.6s infinite linear;
  }
  
  @-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(359deg);
    }
  }