div#right-bar {
    position: absolute;
    right:0px;
    overflow-y: hidden !important;
    margin-right: 0px;
}
li.dyamicclass:visted {
    border-bottom: 5px solid #03A9F4;
    background-color: rgba(0,0,0,.25) !important;
    cursor: pointer !important;
}
.input-group {
    padding:10px !important;
}

a {
    color: #414141;   
}
.loadinggif 
{
   background:
     url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')no-repeat right center;
     right: 5px;
}
.error{
       font-size : 13px;
        text-transform: lowercase;
        color: #f70000;
}
.background_image_whole{
    
    height: 100vh;
} 
span.process_password {
    color: #414141;
    font-weight: bold;
   font-size : 13px;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial,sans-serif,'Sans Serif';
}
span.reset_text {
    color: #414141;
   font-size : 13px;
    line-height: 18px;
    font-weight: normal;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial,sans-serif,'Sans Serif';
}
input.rest_link {
    outline:0;
    width: 100%;
    height: 30px;
    border: 1px solid #d8d8d8;
    padding-left: 10px;
    border-radius: 4px;
    color: #414141;
   /* font-size: 13px !important; */;
    line-height: 20px;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial,sans-serif,'Sans Serif';
    margin-top: 20px;
}
button.cancel {
       width: 140px !important;
    height: 40px !important;
    border: 1px solid #999999 !important;
    cursor: pointer;
    border-radius: 100px;
    background-color: white;
    color: #666666;
   font-size : 13px;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial,sans-serif,'Sans Serif';
    outline:0
}
.hide_clear {
    float: right;
   font-size : 13px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    top: -16px;
    position: relative;
}
div#myModal {
    position: absolute;
    top: 27%;
}
.enter_mail_for {
    padding: 0px 10px 5px 15px;
}
.password_reset {
    padding: 5px 10px 5px 15px;
}
.top_clear{
    padding-top:15px;
    }
span.process_password {
    padding: 16px 10px 10px 15px;
}
button.ok {
    background-color: #0277bd;
    border: 1px solid #0277bd !important;
    color: white;
    width: 140px !important;
    height: 40px !important;
    cursor: pointer;
    border-radius: 100px;
   font-size : 13px;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial,sans-serif,'Sans Serif';
}
.cancel_ok {
    padding: 15px;
    text-align: right;
}

table{border:0; padding:0; margin:0; height:100%; width:100%;}

#right-bar{
    height:100%;
    width:418px;
    float:right;
    margin-right:4%;
    background-color:rgb(217, 217, 217,1);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-bar-dummy-top {
    flex: 0 0 50px;   
    width: 100%;
}

.right-bar-dummy-bottom {
    flex: 0 3 175px;   
    width: 100%;
}

.loginInputArea {
    flex: 0 0 315px;
    width: 80%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-height: 300px;
}

.loginFail {
    flex: 0 0 auto;
    width: 100%;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
   font-size : 13px;
    line-height: 16px;
    background-color: transparent;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.loginFail--active {
    background-color: #ff5252;                      /* @login-error-msg-bg-color */ 
}

input.loginInput {
    flex: 0 0 36px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
   font-size : 13px;
    padding-left: 13px;
    border-radius: 3px;
    border: 1px solid #999999;
    transition: all .5s ease-in-out;
    transition: text-indent 0s;
    display:block;
    width: 100%;
    color: #999999; /* @grey-3-color */
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: white;
    box-sizing: border-box;
}

.loginInputPasswordWrapper {
    flex: 0 0 90px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}

input.loginInput.password {
    flex: 0 0 36px;
    margin-top: 15px;
}

.loginOptions {
    flex: 0 36px;
}

input.loginInput.empty {
    text-indent: 28px;
    color: #666666;
}

/* Can't put these together for some reason */
input.loginInput:-moz-autofill {
    text-indent: 0px;
}

input.loginInput:-ms-autofill {
    text-indent: 0px;
}

input.loginInput:-webkit-autofill {
    text-indent: 0px;
}


.forgot_Password {
    width: 100%;
    display: inline-block;
    padding: 10px;
}
span.checkbox {
    text-align: right;
    float: right;
    margin: 0;
}


/*----------------------------------------------------------
 * Start of fancy checkbox
-----------------------------------------------------------*/
@font-face {
  font-family: "fm-work";
	src:url('/res/font/fm-work3.eot?23hfva');
	src:url('/res/font/fm-work3.eot?#iefix23hfva') format('embedded-opentype'),
		url('/res/font/fm-work3.ttf?23hfva') format('truetype'),
		url('/res/font/fm-work3.woff?23hfva') format('woff'),
		url('/res/font/fm-work3.svg?23hfva#fm-work3') format('svg');
  font-weight: normal;
  font-style: normal;
}



.loginOptions input {
    margin-right:4px;
}

.btnLogin-wrapper {
    flex: 0 1 65px; 
    /* min-height: 80px; */
    width: 69%;
    /* display: flex; */
    padding-top: 15px !important;
    position: relative;
}

.btnLogin {
    height: 35px;
    align-self: flex-end;

    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 7px;
    border: none;
    color: white;
    background-color: #f47f51;             /* @blue-new-btn-bg-color */
   font-size : 13px;
    cursor: pointer;
    width: 100%;
    line-height: 18px;
    font-family: -apple-system, 'Segoe UI', Helvetica, Arial,sans-serif, 'Sans Serif';
}

.btnLogin:hover {
    opacity: 0.7;
}

.btnLogin:active {
    opacity: 0.85;
}

.logo-img {
    flex: 0 10 100px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    /* width:207px;
    height:126px;
    position:fixed;
    top:90px; */
    min-height: 100px;
}

.logo-img img {
    width: 207px;
    position: fixed;
    top: 90px;

}

.bottomlinks {
    flex: 0 0 60px;

    width: 80%;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    color: #414141;
   font-size : 13px;
}

.bottomlinks .bottomlinks__line {
    flex: 0 0 30px;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

.bottomlinks a {
    text-decoration: none;
    font-weight: bold;
    margin-right: 30px;
}

.bottomlinks a:hover {
    opacity: 0.8;
}


input, textarea {
    color: #000; 
}

.placeholder {
    color: #aaa;
}
.loginInputArea .form-control, .bottomlinks .form-control{
    /* font-size: 13px !important; */
}
.adminLinks{
    padding-left: 63px ;
}
.adminLinks > a{
    color: blue;
}
.col-12.loading {
    position: absolute;
    left: calc(50% - 15px);
    width: 20px;
    height: 20px;
    top: 18px;
}
