
<div  class="background_image_whole" style="background: url('assets/images/banner.png');background-size:cover;">
  <div class="whole-container">
  <div id="right-bar">
  
  <div class="right-bar-dummy-top">
  </div>
  
  <div class="logo-img">
    <img alt="Login Logo" src="assets/images/logo_01.png" alt="assets/images/logo_01.png">
  </div>
  
  <div class="loginInputArea">
    <span id="lblMessage" class="loginFail">&nbsp;</span>
  
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-user"></i></span>
      <input type="text"  (focus)="clearAll()" class="form-control" name="userName" [(ngModel)]="userEmail" placeholder="User name">
    </div>
    <div *ngIf="mailResponse_err">
        <span class="error" >{{mailResponse_err}}</span>
    </div>
    
    <div class="input-group">
      <span class="input-group-addon"><i class="fa fa-unlock-alt" aria-hidden="true"></i></span>
      <input class="form-control"  (focus)="clearAll()" type="password" name="password" [(ngModel)]="password"  placeholder="Password">
     
    </div>
    <div *ngIf="password_err">
        <span class="error" >{{password_err}}</span>
    </div>
  
  <!-- <div class="forgot_Password">
      <span id="" class="" data-toggle="modal" data-target="#myModal">Forgot Password </span >
      <span class="checkbox">
        <label><input type="checkbox" value="">Remember me</label>
      </span>
    </div> -->
  
    <div class="btnLogin-wrapper" >
      <button (click)="dispatcherLogin()" name="ImageButton1"  id="ImageButton1" class="btnLogin" [disabled]= "loginDisabled">
          Login
        </button>
        <div class="col-12 loading" *ngIf="loaderDisabled">
          <mat-progress-spinner
          class="example-margin"
          [color]="primary"
          [diameter]="30"
          [mode]="'indeterminate'">
      </mat-progress-spinner>
        </div>
    </div>
  </div>
  <div *ngIf="login_err">
    <span class="error" >{{login_err.message}}</span>
  </div>
  
  <div class="right-bar-dummy-bottom">
  </div>
  
  
  <div class="bottomlinks text-center">
    <div class="bottomlinks__line bottomlinks__line--one text-center">
      <div class="col-12 adminLinks">
        <a target="_blank" href="">Privacy Policy</a>
        <a target="_blank" href="">Terms of Use</a>
      </div>
    </div>
    <div class="bottomlinks__line bottomlinks__line--two">
      Copyright Kyhoot @{{currentYear}}, All Rights Reserved.Designed By Kyhoot.
    </div>
  </div>
  </div>
  </div>