.left-window{
    float: left;
    width: 23%;
    height: 90vh;
}
.col-md-12.padding-0.providerbooklist.scrollStyle.ng-star-inserted{
    height: 507px;
}
.width-25{
    /* widows: 25%; */
    width:33%;
    overflow:auto;
}
.Search{
    /* z-index: 0; */
    position:relative;
    left: 299px;
    width: 200px;
    height: 28px;
    border-radius: 100px;
    border:0.5px solid #e6e2e2;
    text-align: center;
    margin: 10px 0 0 0;

}
.emptyData img {
    width: 100%;
}

.pad5 {
    padding: 5px;
}
.focus{
   
        width: 100%;
        background: #f5f3f3;
        color: #666666;
        outline: 0px
   
    
}
.bglight {
    background: #f6f6f6;
}
.mrg10 {
    margin-top: 10px;
}
.selectionArea{
    float: left;
    width: 100%;
    padding: 15px 10px;
    background: rgba(37, 219, 63, 0.12);
    margin-bottom: 8px;
}
.width_5{
    width: 18%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
   /*font-size: 13px; */ 
}
  
.search_driver_icn {
    cursor: not-allowed;
}
.backgroundFade {
    background: #eeeeee;
}

.btnView {
    cursor: pointer;
    padding: 7px 28px;
    border-radius: 90px;
    background-color:#f47f51!important;
    color: #fff;
    border: 0px;
}
.left_window_header .right_window_header{
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 10px;
    height: 40px;
    background-color: #f47f51!important;
    background: -moz-linear-gradient(top, #f47f51 0%,#f47f51 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%,#f47f51), color-stop(100%,#f47f51));
    background: -webkit-linear-gradient(top,#f47f51 0%, #f47f51 100%);
    background: -o-linear-gradient(top, #f47f51 0%, #f47f51 100%);
    background: -ms-linear-gradient(top, #f47f51 0%,#f47f51 100%);
    background: linear-gradient(to bottom, #f47f51 0%,#f47f51 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0381c5', endColorstr='#3f51b5', GradientType=0 );
}
.SerchCity .right_window_header_SearchCity{
    display: table;
    top: 5px;
    width: 100%;
    padding: 5px;
    height: 40px;
    background: white;
    background: -moz-linear-gradient(top,#f47f51 0%,#f47f51 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%,#f47f51), color-stop(100%,#f47f51));
    background: -webkit-linear-gradient(top, #f47f51 0%,#f47f51 100%);
    background: -o-linear-gradient(top,#f47f51 0%, #f47f51 100%);
    background: -ms-linear-gradient(top, #f47f51 0%, #f47f51 100%);
    background: linear-gradient(to bottom, #f47f51 0%, #f47f51 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0381c5', endColorstr='#3f51b5', GradientType=0 );
}
.btnView:hover{
    background-color:#f47f51!important;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
.f50{
    float: left;
    width:50%;
    text-align: center;
}

.nopad{
    padding-right: 0px !important;
    padding-left: 0px !important;
}      
div#loggedOut {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 15% auto;
    color: #444;
    padding: 25px;
    z-index: 9999;
   /*font-size: 13px; */ 
    line-height: 34px;
    background: white;
    border-radius: 5px;
}  
button#busy_drivers_ok {  
    padding: 0px 50px;
    border: 0px;
    margin-top: 14px;
    color: #fff;
    background: #f51d1d;
    border-bottom: 2px solid #d0c3c3;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
button#busy_drivers_ok:hover{
    background: #e60d0d;
}
.locImg img{
    width: 30px;
}

.locImg{
    margin-bottom: 10px;
}
.adrress{
   /*font-size: 13px; */ 
    max-height: 8vh;
    padding: 10px;
    overflow-y: scroll;
}



#drivers-busy_icn{
    width:75px;
}
.numbers{
   font-size : 18px !important;
}
.left_marker{
    background: #f47f51 !important;
}
#appt_loader_loggedOut{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0,0,0,0.5);
    top: 0px;
    left: 0px;
}
div#floating_button_pat  {
    color: #fff;
    background: transparent;   
    position: absolute;
    z-index: 99;
    bottom: 1px;
    left: 27%;
    border-radius: 3px;
}

.span.glyphicon{
    color: #f47f51 !important
}

div#unassigned {
    height: 70vh;
    overflow-y: scroll;
    /* background-color:#48951f; */
}

.right_window_header.agent_heading {
    padding: 10px 15px;
    /* background: #f47f51; */
}

.right_window_header.agent_body {
    background: #22A1E4;
    padding: 10px 18px;
}
.left_window_txt {
    color: #fff;
    font-weight: 600;
   /*font-size: 13px; */ 
    line-height: 38px;
    float: left;
}
.right_search_front{
  
}
span.glyphicon{
   /* color: #fff; */
   opacity: 0.5;
    font-weight: 600;
   /*font-size: 13px; */ 
    /*line-height: 38px;*/
}

.profile-pic{
    float: left;
    margin-right: 5px;
}
.provider-profile-pic{
    float: left;
    margin:10px;
}
.provider-profile{
    float: left;
}
.status-indicator{
    position: absolute;
    right:0px;
}
.indicator-active{
    background: #73bd00 !important;
}
.indicator-busy{
    background: #ffde35 !important;
}
.indicator-offline{
    background: lightgray !important;
}
.indicator-loggedOut{
    background: orangered !important;
}
.indicator-inactive{
    background: rgb(0, 149, 230) !important;
}

span.indicator {
    background: green;
    width: 10px;
    height: 10px;
    content: '';
    color: transparent;
    border-radius: 50%;
    margin-top:5px;
}
span.indicator {
    background: #a7a7a7;
   /*font-size: 13px; */ 
    content: '';
    color: transparent;
    border-radius: 53%;
    margin-right: 6px;
}
.common_providers{
    padding: 10px;
}
.black-font{
    color: red;
   /*font-size: 13px; */ 
    font-weight: 700;
}
.custom{
    width: 350px !important;
    top: 0 !important;
    left: 0 !important;
    border-radius: 2px 2px 0 0;
    color: red;
}
.right5{
    right: 5% !important;
}


div#available_providers, div#busy_providers, div#offline_providers, div#loggedout_providers , div#inactive_providers, #search{
    height: 78vh;
    /* height: 560px; */
    overflow-y: scroll;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
}

#inactive_providers::-webkit-scrollbar-track,#available_providers::-webkit-scrollbar-track, #busy_providers::-webkit-scrollbar-track, #offline_providers::-webkit-scrollbar-track, #loggedout_providers::-webkit-scrollbar-track,#search::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}


#inactive_providers::-webkit-scrollbar, #available_providers::-webkit-scrollbar, #busy_providers::-webkit-scrollbar, #offline_providers::-webkit-scrollbar, #loggedout_providers::-webkit-scrollbar,#search::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#inactive_providers::-webkit-scrollbar-thumb,#available_providers::-webkit-scrollbar-thumb, #busy_providers::-webkit-scrollbar-thumb, #offline_providers::-webkit-scrollbar-thumb, #loggedout_providers::-webkit-scrollbar-thumb,#search::-webkit-scrollbar-thumb
{
	background-color:#f47f51!important;
}
/* .map-search{
    text-align: left;
    line-height: 31px;
    letter-spacing: 1px;
    padding: 0px 14px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    top: 55px;
    right: 26%;
}

.search-places{
    width: 325px;
}

/*.map-search input { text-indent: 32px;}*/
.map-search .fa-search { 
    position: absolute;
    top: 10px;
    right: 25px;
   /*font-size: 13px; */ 
    color: darkgray;
} 
.agent_img{
    margin-top:15px;
}
@media screen and (min-width: 1200px) and (max-width:1400px){
    .agent_img{
        margin-top:4px;
        margin-left: 10px;
    } 
}
