html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Merriweather', serif;
    /* font-size: 13px !important; */
    font-weight: 500 !important;
}
/* @media only screen and (min-width:1200) and( max-width: 1400px) { 
    html, body{
        font-size: 11px !important;
    }
    *{
        font-size: 11px !important;
    }
 }
 @media only screen and (min-width:1400){ 
    html, body{
        font-size: 13px !important; 
    }
    *{
        font-size: 13px !important; 
    }
 } */
.dispatcherName{
    padding:8px;
    color:white ;
    /* background-color: #b7eda57d; */
    margin:10px;
}
.btn-info{
    background: white;
    color:#4b4747;
    border-color: #f47f51;
}
.enableBidding{
    pointer-events: auto;
}
.disableBidding{
    pointer-events: none;
}
.showModal{
  display:  block;
}
.hideModal{
    display:none;
}
.btn-info:hover,
.btn-info:active,
.btn-info:focus{
    background: #f47f51 !important;
}
.EachTimeSlot{
    overflow-y: auto;
    max-height: 132px;
    /* padding: 0px; */
    margin-left: 10p;
    text-align: center;
}
.pad5{
    padding: 5px;
}
.modal-header .close{
    /* margin-top:-10px; */
}
.taskScroller::-webkit-scrollbar-track
  {
   /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    /* background-color: #F5F5F5; */
    background-color:#dad9d9;
  }
  .DisableSlot{
      background-color: gray !important;
      pointer-events: none !important;
      opacity: 0.4 !important;
  }
  .taskScroller::-webkit-scrollbar
  {
   width: 5px;
     /* background-color: #F5F5F5; */
     background-color:#dad9d9;
  }
  
  .taskScroller::-webkit-scrollbar-thumb
  {
   background-color: #f47f51!important;
   border: 1px solid  #f47f51!important;
  }
.TimeSlot{
    width: 16% !important;
    margin-left: 20px;
    border: 2px solid gray;
    padding: 3px !important;
    margin-top: 5px !important;
    cursor: pointer;
}
.TimeSlot:hover{
  background:#afe3af;
  border: 2px solid #afe3af;
}
.zeroPadding{
    padding: 0px;
}
.mat-radio-button#mat-radio-10.padding1{
    margin-top: 10px;
    margin-bottom: 10px;
}
span.imgCancel {
    border: 10px solid green;
}
.Multipleshifting .nsm-content{
    width:100%;
}
.imagsProduct .CloseImg{
    padding-bottom: 0px;
    padding-top: 0px;
    height: 16px;
    margin-bottom: 0px;
    margin-top: 0px;
    position:  relative;
    bottom: 8px;
    z-index:9px;
}
.flatpickr-calendar.animate.open{
    max-width:1500px;
}
.imagsProduct .CloseButtonImg{
    width: 22px;
    height: 22px;
    right: 10px;
    bottom: 10px;
}
div#Multipleshifting .modal-dialog{
    width:35%;
}
.imagsProduct .imgCancel {
    position: absolute;
    top: -10px;
    right: -2px;
    /* right: 550px; */
    /* font-size: 13px !important; ;*/
    width: 15px;
    height: 15px;
    color: tomato;
    text-align: center;
    display: inline-block;
    border-radius: 30px;
    cursor: pointer;
}
i.material-icons.backShift{
    float: right;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 5px;
    width: 29px;
    /* font-size: 13px !important; ;*/
    color: white !important;
}
button.locateButton.backShift.mat-button{
    float: right;
    margin-top: 10px;
}
div#QuestionsForBidding{
    margin-left: 10px;
}
#SaveBtn{
    width: 40px;
}
.absoluteDiv{
    position: absolute;
    bottom: 0px;
}
#drivers-busy_icn{
    width:75px;
}
button#busy_drivers_ok {  
    padding: 0px 50px;
    border: 0px;
    margin-top: 14px; 
    color: #fff;
    background: #f51d1d;
    border-bottom: 2px solid #d0c3c3;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}
button#busy_drivers_ok:hover{
    background: #e60d0d;
}
.imagsProduct .sellImg.sellImgs {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
a {
    cursor: pointer;
}

.alertParent {
    position: absolute;
    z-index: 9999;
    width: 100%;
    background: rgba(17, 17, 17, 0.23);
}

.alertbox {
    position: relative;
    z-index: 10000;
    background: #fff;
    margin: 20% auto;
    width: 60%;
    height: 100px;
    /* font-size: 13px !important; ;*/
    text-align: center;
    padding: 1.35%;
    border-radius: 4px;
}

.jobBill {
    padding: 5px 20px;
    left: 10px;
}

.jobBillNavTab a {
    color: #444;
}

.alertbox a {
    cursor: pointer;
    float: left;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    background: #eee;
}

.mrg10 {
    margin-top: 10px;
}
.Question{
    overflow-y: scroll;
    height: 480px;
}
.boxNeat {
    margin-bottom: 10px;
    padding: 5px;
}

.alertbox a:hover {
    background: #d5d5d5;
}

.invalidMsgCoupon {
    color: #d9534f;
    margin: 5px;
}

p {
    margin: 0px;
}

.prl-15 {
    padding-left: 15px;
    padding-right: 15px;
}
.showPromoMessage{
    color: tomato;
    /* font-size: 13px !important; ;*/
    text-transform: capitalize;
}
nav {
    background: #f47f51!important;
    height: 50px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 30px -3px  rgba(146,168,150,1);
    -moz-box-shadow: 0px 2px 30px -3px  rgba(146,168,150,1);
    box-shadow: 0px 2px 30px -3px rgba(146,168,150,1);
    /* -webkit-box-shadow: 2px 11px 30px 10px rgba(146,168,150,1);
    -moz-box-shadow: 2px 11px 30px 10px rgba(146,168,150,1);
    box-shadow: 2px 11px 30px 10px rgba(146,168,150,1); */
}

.navbar-header-left {
    width: calc(50% - 50px);
    float: left
}

.navbar-header-right {
    width: calc(50% - 50px);
    text-align: right;
    float: right;
}

.div_display {
    display: inline-block
}

span.glyphicon {
    color: #fff;
    /* font-size: 13px !important; ;*/
    margin-left: 10px;
    opacity: 0.8;
}

span.glyphicon:hover {
    color: #fff;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

li.open .dropdown-toggle>span, ul.dropdown-menu.left_margin li a:hover span, ul.dropdown-menu.right_margin li a:hover span {
    color: #ff9001;
    transition: all 200ms ease-in-out;
}

.grey {
    background-color: #eee !important;
    cursor: not-allowed;
}

button#menu1, button#godsView {
    padding: 6px 20px;
    border: 0px;
    /*margin-top: 1px;*/
    width: 100%;
    outline: 0px;
    height:31px;
    text-align: left;
    /* font-size: 13px !important; ;*/
    border-radius: 0 !important;
    margin-right: 10px;
    font-weight: 400;
    background: #b7eda57d;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    color: #fff;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49809c', endColorstr='#306b88', GradientType=0);
}

input#search {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    /* font-size: 13px !important; ;*/
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 3px 7px;
    border-radius: 4px;
    border: 0px;
    background: #f5f3f3;
    margin-left: 20px;
    padding-bottom: 5px;
}

input#search:focus {
    width: 100%;
    background: #f5f3f3;
    color: #666666;
    outline: 0px
}

.container-fluid {
    margin: 0px;
    padding: 0px
}

.left_marker {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -40px;
    background: #f47f51;
    display: table;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    cursor: pointer;
}

.right_marker {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -40px;
    background:#f47f51;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    display: table;
    cursor: pointer
}

.marker_icns {
    color: #fff!important;
    display: table-cell!important;
    vertical-align: middle;
    /* font-size: 13px !important; 
}

.rotate_pointer {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
    color: #fff!important
}

.left_window_header, .right_window_header {
    height: 40px;
    /* Old browsers */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0381c5', endColorstr='#3f51b5', GradientType=0);
    /* IE6-9 */
}

.left_window_header {
    display: table;
    width: 100%;
    padding-left: 15px;
    padding-right: 10px
}

.left_window_txt {
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-weight: 600;
    /* font-size : 13px; */
}

.button_style2 {
    margin-top: 4px
}

.text-center {
    text-align: center !important;
}

button#menu2 {
    /* padding: 1px 26px; */
    width: 60%;
    outline: 0px;
    background: #e4e1e1;
    color: #c0392b;
    font-weight: 600;
    text-align: left;
    /* font-size: 13px !important; ;*/
    float: right
}

span.caret {
    float: right;
    margin-top: 9px;
}

.dropdown, .dropup {
    position: relative;
}

span.glyphicon.glyphicon-search.icn_left, span.icns_right {
    line-height: 38px;
    float: right;
    margin-right: 2%;
    /* font-size : 13px; */
}

#map, #map2 {
    position: static!important;
}

.display_none {
    display: none
}

div#calender_dropdown {
    left: -26%;
    height: 48%;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
    /* font-size : 13px; */
    height: 2.8em;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #c0392b;
}

.width_3, .width_3_rt {
    width: 32%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
    font-size : 13px
}

.width_3:hover p, .width_3.active p, .width_3_rt:hover p, .width_3_rt.active p {
    color: #c0392b!important;
    cursor: pointer;
    trasition: all 300ms ease-in-out;
}

.width_3, .width_3_rt {
    padding: 3px 0px
}

.width_3:hover, .width_3.active, .width_3_rt:hover, .width_3_rt.active {
    border-bottom: 3px solid #c0392b;
    transition: all 400ms ease-in-out;
}

.left_window_assignments, .connections_div {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14)
}

p.assign {
    text-align: right;
    float: right;
    color: #9b59b6;
    /* font-size: 13px !important; ;*/
    font-weight: 600;
}

.left_window_body {
    padding: 10px 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14)
}

p.div_display.body_text {
    color: #2f2d2d;
    font-weight: bolder;
    /* font-size: 13px !important; ;*/
}

.details_body .glyphicon {
    /* font-size : 13px; */
}

.details_body p {
    /* font-size: 13px !important; ;*/
    color: #717171;
    font-weight: 300!important
}

.details_body .glyphicon {
    font-size : 13px!important;
    color: #717171;
}

.details_body {
    padding: 0px 0px;
    position: relative;
}

a#details_button {
    text-decoration: none;
    padding: 2px 10px;
    border: 1px solid #c7b1aa;
    color: #c1b1aa;
    /* font-size : 13px; */
    float: right;
    border-radius: 2px;
    margin-top: 60px;
}

.connections_div {
    padding: 10px;
}

.connection_name {
    color: #232323;
    /* font-size : 13px; */
    font-weight: 500;
    margin-left: 17px
}

span.indicator {
    background: green;
    width: 50px;
    height: 50px;
    content: '';
    color: transparent;
    border-radius: 50%;
}

span.indicator {
    background: #a7a7a7;
    /* font-size : 13px; */
    content: '';
    color: transparent;
    border-radius: 53%;
    margin-right: 6px;
}

a#details_button:hover {
    background: #c0392b;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-weight: 600;
    /* font-size : 13px; */
    margin-bottom: .4em;
}

ul.list-inline.glphIcons li a {
    margin-left: 0%;
}

a#addnew_but {
    width: 130%;
    color: #fff;
    text-decoration: none;
    padding: 6px 22px;
    margin-left: 0px;
    /* font-size: 13px !important; ;*/
    font-weight: 600;
    outline: 0;
    background: #f47f51!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49809c', endColorstr='#306b88', GradientType=0);
}

a#addnew_but:hover {
    background:#f47f51!important;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.modal-content {
    height: 100%;
}

/* .modal-dialog {
    width: 70%;
} */

textarea#comment {
    resize: none;
    height: 60px;
}

div#Multipleshifting .modal-body {
    position: relative;
    padding: 15px;
    height: 80%;
}

.modal-footer {
    padding: 15px;
    text-align: left;
}

button#popup_add, .close_popup {
    background: #f47f51!important;
    border: 0px;
    color: white;
    /* font-size : 13px; */
    border-radius: 5px;
    padding: 6px 20px;
    border: 1px solid #f47f51!important;
    margin-right: 10px;
    outline: 0px
}

.close_popup {
    background: transparent
}

.close_popup {
    /* font-size : 13px; */
    color: #716f6f;
    border: 1px solid grey;
}

button#popup_add:hover {
    background:#f47f51!important;
    border: 1px solid #f47f51!important;
}

#map>div {
    height: 94%!important
}

ul.dropdown-menu.left_margin li a, ul.dropdown-menu.right_margin li a {
    margin-left: 0px!important;
}

ul.dropdown-menu.left_margin span, ul.dropdown-menu.right_margin span {
    /* font-size : 13px; */
}

ul.dropdown-menu.left_margin {
    left: 35%
}

ul.dropdown-menu.right_margin {
    left: 0%;
    right: 35%
}

.dropdown-menu .divider {
    margin: 0px 0;
}

.dropdown-menu.left_margin>li>a {
    display: block;
    padding: 10px 9px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}
/* card #88 make notification height bigger */
ul.dropdown-menu.right_margin {
    /* position: absolute; */
    left: -350%;
    top: 10px;
    width: 100% !important;
    height: 50px !important;
}
ul.notification.dropdown-menu.right_margin{
    height: 80px !important;
}
ul.dropdown-menu.right_margin li a {
    padding: 10px;
}

.modal-title {
    font-weight: 800;
    color: #464545;
}

.form-control {
    margin-bottom: 10px;
}

.modal-header {
    background: #dbd5d5;
}
.backdrop.example-radio-group{
    margin-top: 10px;
}

label#task_des {
    /* font-size : 13px; */
    color: #757474;
    margin-right: 10px;
    margin-bottom: 9px
}

input#popup_mail {
    width: 48.8%;
    display: inline-block;
}

div#popup_name {
    width: 100%;
    float: left;
    display: inline-block;
}

.country-code {
    border-radius: 0 !important;
}

.phone-code {
    width: 15%;
    float: left;
    margin-right: 5px;
    /* font-size : 13px; */
}

popup_countryCode {
    width: 10% !important;
}

input#popup_countryCode {
    width: 10% !important;
    display: inline-block;
}

#input_type {
    width: 100%;
    padding: 10px;
    border: 1px solid aliceblue;
    outline: 0px;
    /* font-size : 13px; */
    margin-bottom: 10px;
    color: #6f6969;
    color: #928b8b;
    background: #dde6e9;
}

p.popup_text {
    margin-top: -5px;
    /* font-size : 13px; */
    color: #757474;
    font-weight: bold;
}

button#geofence {
    width: 49%;
    border: none;
    padding: 8px;
    /* font-size: 13px !important; ;*/
    outline: 0px;
}

button#popup_dropdown, button#services_types_popup_dropdown {
    width: 100%;
    /* font-size : 13px; */
    border-color: #dde6e9;
    background: transparent;
    outline: 0px
}

p.div_display.connection_num {
    /* font-size : 13px; */
}

.form-control {
    /* font-size : 13px; */
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

input.qty_box {
    width: 35%;
}

hr {
    margin-top: 16px;
    margin-bottom: 9px;
    width: 100%;
    border: 0;
    border-top: 1px solid #dbdbdb;
}

.form-control {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #f4f1f1;
    border-radius: 0px;
}

input#sugg_price, input#visitFee, input#fixedFee, input#promoDiscount, input#total {
    width: 48.8%;
    margin-top: -5px;
}

button#bulk_import_but {
    padding: 8px 8px;
    border: 0px;
    background:#f47f51!important;
    color: #c0392b;
    /* font-size : 13px; */
    position: relative!important;
    border-left: 1px solid #13beff;
}

li.open {
    position: relative;
}

#bulk_import_but {
    padding: 8px 8px;
    border: 0px;
    border-bottom: 2px solid #dbdbdb;
    margin-top: 1px;
    background: #dbdbdb;
    color: #c0392b;
}

span.glyphicon.glyphicon-triangle-bottom {
    margin: 0px;
    /* font-size : 13px; */
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}

span.glyphicon.glyphicon-triangle-bottom.active {
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}

span.glyphicon.glyphicon-triangle-bottom {
    transition: all 300ms ease-in-out;
}

div#bulk_tasks .modal-dialog {
    width: 40%;
    height: auto;
}

button#download_sample {
    border: 1px solid #d9d7d7;
    border-radius: 3px;
    /* font-size : 13px; */
    padding: 10px 20px;
    color: #400000;
    background: #f9f9f9;
    font-weight: 600;
}

.iconsCount {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    /* font-size : 13px; */
    background: #BBB;
    color: #fff;
    padding: 0;
    text-decoration: none!important;
    float: left;
    margin-right: 10px;
}
span.iconsCountText {
    /* font-size : 13px; */
    color: #616161;
}

button#menu1_bulk {
    width: 100%;
    margin-top: 10px;
    background: #f9f9f9;
    text-align: left;
    padding: 8px 10px;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
    font-size : 13px
}

.addJob img {
    width: 30px;
}

a#drop_but_bulk {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    background: #f9f9f9;
    padding: 8px 0px;
    /* font-size : 13px; */
    margin-top: 10px;
    border-radius: 3px;
    color: #6f6f6f;
    border: 1px solid gainsboro;
    text-decoration: none
}

.addJobContainer {
    position: relative;
    width: 98%;
    margin: 1% auto;
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    min-height: 96vh;
}

.addJobHeader h4 {
    font-weight: 600;
    /* font-size : 13px; */
}

@media screen and (max-width: 1371px) and (min-width: 1200px) {
    /* .modal-dialog {
        width: 78%;
    } */
    
}

@media (min-width:1200px) {
    .autoFillList li {
        /* font-size : 13px; */
    }
    .pad5{
        padding: 2px !important;
    }
    .profile-pic{
        width: 40px;
        height: 40px;
    }
    .eachProvider{
        padding: 5px;
    }
    .name-phone-div{
        margin-left: 20px;
    }
    .provider-name , .selected-dial-code{
        font-size : 13px
    }
    .extraInfo{
        width: 100%;
    }
    .provider-phone{
        color: #7d7b7b;
        /* font-size : 13px; */
    }
    .eachProvider{
        -webkit-box-shadow: 0 0 3px #d5cdcd;
        box-shadow: 0 0 3px #d5cdcd;
        margin-bottom: 2px;
    }
    .smallButton {
        padding: 0px 0px !important;   
    }
    .checkoutlist {
        max-height: 220px !important;   
    }
    .allowSpace5{
        margin: 1px 0px !important;   
    }
}
    
@media screen and (max-width: 1199px) and (min-width: 992px) {
  
    ul.list-inline.glphIcons li a {
        margin-left: 10%;
    }
    .modal-dialog {
        width: 80%;
    }
    input#sugg_price, input#promoCode {
        width: 46.8%;
        margin-top: -5px;
    }
}

div#display_blocks {
    text-align: right;
}

div#tasks_header {
    padding: 13px 15px;
    border-bottom: 1px solid #f7f6f6;
}

a.div_display.task_header_but, .filters_but {
    padding: 5px 20px;
    background: #c0392b;
    color: white;
    outline: 0px;
    border-radius: 3px;
    margin-right: 1%;
    /* font-size: 13px !important; ;*/
    text-decoration: none;
}

button.filters_but {
    width: 160px;
    border: none;
    background: #dcd9d9;
    color: #666666;
    font-weight: 600;
}

a.div_display.task_header_but:hover {
    background: #f17f00;
    transition: all 300ms ease-in-out;
}

input.filter_dates {
    border: 1px solid #e6d6d6;
    border-radius: 4px;
    padding: 4px 10px;
    /* font-size : 13px; */
    margin-right: 2%;
    margin-left: 2%;
    outline: 0px;
}

span#filter_dates {
    color: #a49090;
    /* font-size: 13px !important; ;*/
}

span#task_header_txt {
    color: #c0392b;
    /* font-size : 13px; */
    font-weight: 600;
}

div#task_full_height {
    height: auto;
    background: #f5f5f5;
    padding: 20px 30px;
}

div#task_table_content {
    padding: 0px;
    border: 1px solid #ded9d9;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    background: #fff!important;
    font-size : 13px!important
}

th {
    color: #6f6f6f;
    font-size : 13px!important
}

th.width_table_one {
    width: 90px;
}

th.width_table_two {
    width: 114px;
}

.table.dataTable>thead>tr>th {
    padding-right: 30px!important;
    vertical-align: middle;
    color: #505050;
}

th.width_table_checkbox {
    width: 30px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}

th, td {
    padding: 14px 14px 10px 8px !important;
}

a.assigned {
    padding: 4px 6PX;
    background: #c0392b;
    border-radius: 4px;
    color: #fff;
    /* font-size : 13px; */
    text-decoration: none;
    cursor: text;
}

td span.glyphicon {
 font-size: 13px !important; 
    padding: 0px!important;
    margin: 0px;
}

td {
    vertical-align: middle!important;
}

button.btn.btn-default.btn-sm.div_display {
    margin-bottom: 2px;
}

input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
}

.redfont a {
    color: #c0392b!important;
    font-weight: 800;
}

td {
    color: #696969;
    font-size : 13px!important
}

#table_blocks_rt {
    /* font-size : 13px; */
    text-align: right;
}

#table_blocks_rt {
    margin-left: 10px;
    outline: 0px
}

input[type="search"] {
    border: none;
    width: 70%;
    border-radius: 4px;
    outline: 0px;
    padding: 10px;
    color: #232323;
    /* font-size : 13px; */
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    /* font-size : 13px; */
    color: #9c9292;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
}

table#example {
    border: 1px solid #eaeaea;
}

td, th {
    border-right: 1px solid #fffdfd;
    border-left: 1px solid #e6dede;
}

div#example_info {
    /* font-size : 13px; */
    color: #7b7070;
}

div#example_length {
    padding-left: 10px;
    padding-top: 6px;
}

div#example_filter {
    padding-right: 10px;
    padding-top: 5px;
}

tr.odd {
    background: #fff!important;
}

div#example_paginate {
    /* font-size : 13px; */
}

select {
    padding: 9px;
    border: 1px solid #dedede;
    border-radius: 5px;
}

#select-result {
    padding: 9px;
    background-color: white;
    font-weight: 500;
    border: 1px solid #f4f1f1;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ddd;
}

div#edit_popup .modal-dialog {
    width: 30%;
}

button {
    outline: 0px!important
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: static!important;
}

#origin-input, #destination-input {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    /* font-size : 13px; */
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus, #destination-input:focus {
    border-color: #f47f51;
}

.modal {
    z-index: 101;
}

div#map>div {
    height: 92%!important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100 !important;
    background-color: #000;
}
.modal-content{
    border-radius: 0px;
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    span.glyphicon.glyphicon-fullscreen, span.glyphicon.glyphicon-resize-small {
        display: none!important
    }
    span.glyphicon {
        font-size : 13px
    }
}

.dtp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
    /* font-size : 13px; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dtp>.dtp-content {
    background: #fff;
    max-width: 300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height: 520px;
    position: relative;
    left: 50%;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #689F38;
    color: #fff;
    text-align: center;
    padding: 0.3em;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #8BC34A;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.dtp div.dtp-date>div {
    padding: 0;
    margin: 0;
}

.dtp div.dtp-actual-month {
    font-size: 1.5em;
}

.dtp div.dtp-actual-num {
    font-size: 3em;
    line-height: 0.9;
}

.dtp div.dtp-actual-maxtime {
    font-size: 3em;
    line-height: 0.9;
}

.dtp div.dtp-actual-year {
    font-size: 1.5em;
    color: #DCEDC8;
}

.dtp div.dtp-picker {
    padding: 1em;
    text-align: center;
}

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time {
    font-weight: 500;
    text-align: center;
}

.dtp div.dtp-picker-month {
    padding-bottom: 20px!important;
    text-transform: uppercase!important;
}

.dtp .dtp-close {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.dtp .dtp-close>a {
    color: #fff;
}

.dtp .dtp-close>a>i {
    font-size: 1em;
}

.dtp table.dtp-picker-days {
    margin: 0;
    min-height: 251px;
}

.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr>td {
    border: none;
}

.dtp table.dtp-picker-days tr>td {
    font-weight: 700;
    font-size: 0.8em;
    text-align: center;
    padding: 0.5em 0.3em;
}

.dtp table.dtp-picker-days tr>td>span.dtp-select-day {
    color: #BDBDBD!important;
    padding: 0.4em 0.5em 0.5em 0.6em;
}

.dtp table.dtp-picker-days tr>td>a, .dtp .dtp-picker-time>a {
    color: #212121;
    text-decoration: none;
    padding: 0.4em 0.5em 0.5em 0.6em;
    border-radius: 50%!important;
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: #8BC34A;
    color: #fff;
}

.dtp table.dtp-picker-days tr>th {
    color: #757575;
    text-align: center;
    font-weight: 700;
    padding: 0.4em 0.3em;
}

.dtp .p10>a {
    color: #689F38;
    text-decoration: none;
}

.dtp .p10 {
    width: 10%;
    display: inline-block;
}

.dtp .p20 {
    width: 20%;
    display: inline-block;
}

.dtp .p60 {
    width: 60%;
    display: inline-block;
}

.dtp .p80 {
    width: 80%;
    display: inline-block;
}

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm {
    position: relative;
    top: 10px;
    color: #212121;
    font-weight: 500;
    padding: 0.7em 0.5em;
    border-radius: 50%!important;
    text-decoration: none;
    background: #eee;
    font-size: 1em;
}

.dtp .dtp-actual-meridien a.selected {
    background: #689F38;
    color: #fff;
}

.dtp .dtp-picker-time>.dtp-select-hour {
    cursor: pointer;
}

.dtp .dtp-picker-time>.dtp-select-minute {
    cursor: pointer;
}

.dtp .dtp-buttons {
    padding: 0 1em 1em 1em;
    text-align: right;
}

.dtp.hidden, .dtp .hidden {
    display: none;
}

.dtp .invisible {
    visibility: hidden;
}

.dtp .left {
    float: left;
}

.dtp .right {
    float: right;
}

.dtp .clearfix {
    clear: both;
}

.dtp .center {
    text-align: center;
}

.flatpickr-calendar.hasTime.dateIsPicked.arrowTop.open {
    padding: 10px;
}

@media screen and (min-width: 200px) and (max-width: 992px) {
    .navbar-header-left {
        width: 100%!important;
    }
    input#pac-input2 {
        right: 0px!important;
    }
    nav {
        height: 94%!important;
        height: 100px!important;
    }
}
@media only screen and (min-width: 1340px) and (max-width:1500px){
    div#QuestionsForBidding{
        width:640px;
        left:2px;
    }
}
@media only screen and  (min-width:1502px){
    div#QuestionsForBidding{
        width: 720px;
        left:2px;
    }
}
@media only screen and (max-height:510px){
    div#QuestionsForBidding{
        width:650px;
        left:2px;
    }
}
.full {
    width: 100%;
}

.w95 {
    width: 95%;
}
.matsub1{
    width: 40%;
}
.matsub {
    width: 90%;
}
.mat70{
    width: 200px !important;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 220px;
}

.service .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 180px !important;
}

.bootstrap-select.btn-group .dropdown-menu {
    min-width: 100%;
    z-index: 20000 !important;
}

.addJobBody h5, .registrationPanel h5 {
    font-weight: 700;
    color: #f47f51!important;
    text-transform: uppercase;
    font-size: 11.5px;
}

.addJobBody h6 {
    font-weight: 500;
    color: #777;
}
.pTop15{
    padding-top: 15px;
}
.pTop10{
    padding-top: 10px;
}
.font12{
    /* font-size : 13px; */
}
.service label {
    float: left;
    padding: 0px 10px;
}

.pad5 {
    padding: 5px;
}

.padItem {
    padding-top: 9px;
    padding-bottom: 9px;
}

.activeBill {
    border: 1px solid #f47f51!important;
    height:51px;
    padding:0px;
}

.inactiveBill {
    border: 1px solid #ccc;
}

.inactiveBill .billIcon, .inactiveBill .billName {
    color: #777;
}

.serviceItem {
    width: 100%;
    float: left;
    cursor: pointer;
    background: #ffffff;
}

.serviceItem :hover {
    background: #fafafa;
}

.serviceItem :hover .billIcon, .serviceItem :hover .billName {
    color:#f47f51!important;
}

.backgroundFade {
    background: #eeeeee;
}

.bglight {
    background: #f6f6f6;
}

.activeBill .billIcon {
    color:#f47f51!important;
}

.billIconInactive {
    color: #777;
}

.dudeLabel {
    margin: 0px;
    /* font-size : 13px; */
    color: #f47f51!important;
    vertical-align: -webkit-baseline-middle;
}

button#back_button {
  
    padding: 0px 9px;
    border: 0px;
    /*margin-top: 1px;*/
    outline: 0px;
    text-align: left;
    border-radius: 0 !important;
    background:#b7eda57d;
    border: 0;
    /* width: 100%; */
    height: 31px;
    /* font-size : 13px; */
    font-weight: 400;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
    /*border-radius: 5px;*/
    color: #fff;
    margin-left:10px;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49809c', endColorstr='#306b88', GradientType=0);
    /*margin-left: 10px;*/
    /* margin-top: 3px; */
}

ul.dropdown-menu.left_margin li a span, ul.dropdown-menu.right_margin li a span {
    color: #7b7878;
}

.drop_icons {
    position: absolute;
    right: 0;
    top: 10px;
    right: 10px;
}

ul.dropdown-menu.left_margin li, .dropdown-menu.right_margin li {
    position: relative;
}

span#choose_file_span {
    color: #f47f51!important;
}

div#zone_div {
    width: 100%;
    height: 35px;
    background: #fff;
    border: 1px solid #ededed;
    position: absolute;
    top: 0px;
    z-index: 99;
}

div#zone_one {
    color: #5f5f5f;
    width: 33%;
    float: left;
}

span.glyphicon.glyphicon-map-marker.zone_glyph, span.glyphicon.glyphicon-map-marker.zone_glyph, span.glyphicon.glyphicon-time.zone_glyph {
    float: left;
    color: #e52b2a;
    /* font-size : 13px; */
    line-height: 32px;
    margin-right: 9px;
}

span.pickup_zone_info {
    color: #e3504f;
    /* font-size: 13px !important; ;*/
    font-weight: 600;
}

span.glyphicon.glyphicon-time.zone_glyph {
    color: #9bc200!important;
}

span#notification_bar {
    background: rgb(182, 221, 255);
    min-width: 22px;
    min-height: 22px;
    position: absolute;
    top: -4px;
    left: 24px;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 18px;
    border: 2px solid white;
    transition: all 200ms ease-in-out;
    z-index: 9;
}

span#notification_bar.active {
    background: rgb(182, 221, 255);
    min-width: 27px;
    min-height: 25px;
    position: absolute;
    top: -4px;
    left: 24px;
    color: black;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    /* font-size: 13px !important; ;*/
    border: 2px solid white;
}

span#notification_ripple {
    position: absolute;
    width: 46px;
    height: 46px;
    background-color: #0fff32;
    top: -15px;
    left: 15px;
    transform: scale(0);
    opacity: 0.5;
    border-radius: 300px;
}

.autoFillList {
    list-style: none;
    padding: 5px;
    max-height: 205px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.autoFillList li {
    padding: 8px;
    /* font-size : 13px; */
    cursor: pointer;
}

.autoFillList li:hover {
    background: #eee;
}

.autoFillList li:hover i {
    color: #f47f51!important;
}

.autoFillList li:hover .autoFillName {
    color: #f47f51!important;
    font-weight: 500;
}

.autofillCustomer {
    margin-top: -5px;
}

.autoFillAddress {
    margin-top: 50px;
}

.autofillCustomer, .autoFillAddress {
    position: absolute;
    background: #fff;
    z-index: 3000;
    padding: 10px 1px;
    border-radius: 4px;
    border: 1px solid #999;
    width: 100%;
    margin-left: 10px;
}

.autoFillList::-webkit-scrollbar-track, .country-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.autoFillList::-webkit-scrollbar, .country-list::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.hideAutofill {
    cursor: pointer;
}

.hideAutofill:hover h5 {
    color: #f47f51!important;
}

.autoFillList::-webkit-scrollbar-thumb, .country-list::-webkit-scrollbar-thumb {
    background-color: #f47f51!important;
    border: 1px solid #f47f51!important;
}

.addressbook i {
    margin-right: 3px;
}

span#notification_ripple.active {
    animation: ripple-in1 2s;
}

@keyframes ripple-in1 {
    0% {
        transform: scale(0);
    }
    20% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

div#notification_body {
    position: absolute;
    min-width: 200px;
    min-height: 75px;
    height: auto;
    background: #d0d0d0;
    right: 0px;
    z-index: 999;
    border-radius: 5px;
    padding: 2px;
}

.notification_box {
    background: #fff;
    width: 100%;
    min-height: 75px;
    max-height: 262px;
    overflow-y: auto;
    padding: 5px;
    border-radius: 3px;
}

.notification_box h5 {
    text-align: center;
    /* font-size : 13px; */
    color: #616161;
    margin: 0px
}

.notification_class {
    background: #ffffff;
    min-height: 45px;
    text-align: left;
    color: #919090;
    border-radius: 3px;
    border: 1px solid gainsboro;
    margin-top: 3px;
    padding: 3px;
}

span.notification_status {
    /* font-size : 13px; */
    color:#f47f51!important;
    border: 1px solid #f7f5f5;
    width: 100%;
    display: inline-block;
}

span.notification_booking_id {
    /* font-size: 13px !important; ;*/
    color: #0ec00e;
}

#no_notify {
    border: 1px solid #eaeaea;
    height: 56px;
    display: inline-block;
    margin-top: 11px;
    text-align: center;
    padding-top: 9px;
}

span.weight_affix {
    position: absolute;
    top: 10px;
    right: 28px;
    /* font-size : 13px; */
    color: grey;
    font-weight: 500;
}

.map_loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #f47f51!important;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div#map_loader_parent, div#no_services_div {
    z-index: 99;
    width: 116px;
    height: 116px;
    position: absolute;
    left: calc(50% - 50px);
    top: calc(47% - 50px);
    background: #d2cccc;
    padding: 8px;
    border-radius: 5px;
}

div#no_services_div {
    z-index: 99;
    width: 90%;
    height: 70px;
    position: absolute;
    left: calc(16% - 50px);
    top: calc(47% - 50px);
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    /* font-size: 13px !important; ;*/
    text-align: center;
}

div#error_popup {
    position: fixed;
    background: white;
    width: 361px;
    height: 223px;
    z-index: 999;
    padding: 20px;
    left: calc(50% - 166px);
    top: calc(50% - 112px);
    border-radius: 10px;
}

span#noservice_msg {
    /* font-size: 13px !important; ;*/
}

div#error_popup_parent {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0px;
    top: 0px;
    z-index: 999;
}

button#noservice_ok_but {
    background:#f47f51!important;
    width: 81px;
    height: 30px;
    border-radius: 6px;
    color: #fff;
    border: 0px;
    /* font-size : 13px; */
    margin-top: 20px;
}

button#noservice_ok_but:hover {
    background: #f47f51!important;
    transition: all 100ms ease-in-out;
}

.form-group.has-feedback.book_now_button button {
    width: 100%;
    display: inline-block;
    background: #a3a3a3;
    padding: 9px;
    color: #fff;
    border: 0px;
    border-radius: 4px;
}

.form-group.has-feedback.book_now_button button:hover, button#book_now_pop_button.active {
    background: #f47f51!important;
    transition: all 300ms ease-in-out;
}

.spanOption {
    background: #555;
    width: 100%;
    float: left;
    padding: 2px;
}

div#time_line_tasks {
    max-height: 40vh;
    overflow: auto;
}

/*TOASTER MESSAGES*/

#snackbar {
    visibility: hidden;
    min-width: 285px;
    margin-left: -125px;
    background-color: #f47f51!important;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right: 0px;
    top: 60px;
    /* font-size : 13px; */
    /* font-size : 13px; */
    text-align: left;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(171, 171, 171, 0.74);
    -moz-box-shadow: 0px 0px 5px 0px rgba(171, 171, 171, 0.74);
    box-shadow: 0px 0px 5px 0px rgba(171, 171, 171, 0.74);
}

input#phonenumber {
    width: 117%;
}

label#phonenumber-error {
    display: none;
}

.notification_box::-webkit-scrollbar-track, .flyingNumbers::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

.notification_box::-webkit-scrollbar, .flyingNumbers::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.notification_box::-webkit-scrollbar-thumb, .flyingNumbers::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(0, 0, 0, .5)
}

.hidden {
    display: none;
}

.flyingNumbers {
    position: fixed;
    width: 215px;
    height: auto;
    max-height: 210px;
    background: #fff;
    color: #444;
    z-index: 999;
    overflow-y: scroll;
}

.flyingNumbers ul li {
    list-style: none;
    padding: 6px;
    /* font-size : 13px; */
    letter-spacing: 1.2px;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}

.flyingNumbers ul li:hover {
    background: #eee;
    color: #719538;
}

.intl-tel-input .selected-flag {
    z-index: 1;
    position: relative;
    width: 36px;
    height: auto !important;
    padding: 0 0 0 8px;
    margin-top: 35% !important;
    ;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.1s, fadeout 0.5s 2.5s;
    animation: fadein 0.1s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        right: 0;
        opacity: 0;
    }
    to {
        right: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        right: 30px;
        opacity: 1;
    }
    to {
        right: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        right: 30px;
        opacity: 1;
    }
    to {
        right: 0;
        opacity: 0;
    }
}

i.fa.fa-info-circle {
    /* font-size : 13px; */
    float: left;
    margin-right: 17px;
    margin-top: 8px;
}

span.notification_booking_id_toaster {
    background:#f47f51!important;
    padding: 2px 10px;
    border-radius: 3px;
}

span.notification_status_toaster {
    border: 1px solid#d7f1ff;
    /* font-size : 13px; */
    margin-top: 4px;
    float: left;
    padding: 2px 6px;
    border-radius: 6px;
}

span.notification_driverId {
    /* font-size : 13px; */
    color: #616161;
}

span.notification_driverId_parent {
    color: #f47f51!important;
    /* font-size : 13px; */
    display: inline-block;
    width: 36%;
}

a#download_sample {
    background: #f0f0f0;
    padding: 10px 21px;
    border-radius: 6px;
    color: #504f4f;
}

a#download_sample:hover {
    background: #f47f51!important;
    transition: all 300ms ease-in-out;
    color: #fff;
}

#add_popup_but {
    background: #0c9f0c;
    color: #fff;
    border-radius: 0px;
    border: 0px;
    border-bottom: 2px solid #c8c0c0;
}

button.btn.btn-default.close_popup {
    border: 0px;
    background: #f0524f;
    color: #fff;
    border-radius: 0px;
    border-bottom: 2px solid #b3b3b3;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
.ToatalAmount{
    font-size:14px;
}
.mb-10 {
    margin-bottom: 10px;
}

.checkPromo {
    color: #fff;
    background-color: #f47f51!important;
    padding: 5px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
}

.addJob {
    padding: 5px 22px 6px 22px !important;
}

.br-bt {
    border-bottom: none !important;
}

/*drop down styling*/

.multiselect {
    width: 200px;
}

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkboxes {
    display: none;
    border: 1px #dadada solid;
    /*display: block;*/
    position: absolute;
    z-index: 999;
    background: rgb(255, 255, 255);
    width: 47%;
}

#checkboxes label {
    display: block !important;
    padding: 10px !important;
    /* font-size : 13px !important; */
    color: #000 !important;
    margin-bottom: 0 !important;
}

#checkboxes label:hover {
    background-color: #f47f51!important;
}

.checkboxes-ul {
    list-style: none !important;
}

input[type=checkbox] {
    width: 20px !important;
    height: 13px !important;
}

/*loader for input*/

.loadinggif {
    background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif') no-repeat right center;
    right: 5px;
}

.service-tag {
    border: 1px solid #f4f1f1;
    padding: 10px;
    margin-bottom: 20px;
    overflow: auto;
}

input[type=file] {
    display: block;
    background: #fff;
    border: 1px solid #efefef;
    padding: 7px;
    width: 100%;
}

.ht-40 {
    height: 40px !important;
}

.dynamic-price-label {
    width: 48.8%;
    font-weight: 400;
}

.services_Fee {
    overflow: hidden !important;
    margin-bottom: 6px;
}

.generated-button {}

.generated-button-div {
    width: 15%;
    overflow: auto;
    float: left;
    margin-right: 10px;
    background: bisque;
    padding: 4px;
    color: #fff;
}
/* #QuestionsForBidding{
    /* width:650px; */
    /* width:730px; */
/* } */

.generated-delete {
    background-color: transparent !important;
}

#service-tag {
    display: none;
}

#services_Fee {
    display: none;
}

.search-job-input {
    width: 90%;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #777;
    padding: 5px 0;
}

.card-details {
    width: 40%;
    margin-left: 31%;
}

.add-card {
    color: #fff;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    background:#f47f51!important;
}

.cancel-add-card {
    color: #000;
    padding: 6px 10px;
    /*border: 1px solid #000;*/
    border-radius: 3px;
    background: transparent;
    /* font-size : 13px; */
    margin-bottom: 1px;
}

.text-right {
    text-align: right;
}

.font-12 {
    /* font-size : 13px !important; */
}

.border-color {
    border-color: #d9534f;
}

.font-color {
    color: #d9534f;
}

.invalidMsg {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.disabled-color {
    color: #000;
}

.invalidMsgCoupon {
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    width: 100%;
    margin-left: 140px;
    margin-top: -5px;
    /*color: red;*/
}

.popup_left_div {
    overflow-y: scroll !important;
    overflow-x: hidden !important;
    padding-right: 8px !important;
    max-height: 752px !important;
    padding-left: 2px !important;
}

.popup_left_div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.popup_left_div::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

.popup_left_div::-webkit-scrollbar-thumb {
    background-color: #f47f51!important;
}

#invalidAddressMsg {
    /*display: none !important;*/
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

#calander {
    color: #555;
}

.mat-button {
    background: rgba(106, 120, 198, 0.21);
}

.active .mat-button {
    background-color: #f47f51 !important
}


.flt {
    float: left;
    width: 100%;
}

.f10 {
    float: left;
    width: 10%;
}

.f85 {
    float: left;
    width: 85%;
}

.scheduleButton {
    color: #f47f51!important;
    border: 2px solid #f47f51!important;
    background: #ffffff;
    padding: 3px 15px;
    border-radius: 30px;
    cursor: pointer;
}

.scheduleButton:hover {
    background:#f47f51!important;
    color: #fff;
}

.circleDot, .circleDotWhite {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: '';
    border-radius: 36px;
    display: inline-block;
}

.circleDot {
    background:#f47f51!important;
    border: 1px solid #f47f51!important;
}

.padding-0 {
    padding-right: 0;
    padding-left: 0;
}

.text-right {
    text-align: right;
}

.padding-1 {
    padding-right: 5px;
    padding-left: 5px;
}

.markRed {
    color: white;
}

/* .circleDotWhite{
    background: #6572bb;
    border: 1px solid #6572bb;
} */

.activeSchedule .mat-button {
    background: rgba(106, 120, 198, 0.51) !important;
}

.allowSpace input, .jobBill input {
    width: 100%;
    /* text-align: center; */
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
}
.jobBill1{
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
}
    
.tright {
    text-align: right;
}

.input-number-increment {
    position: relative;
    top: 0px;
    background: #f5f5f5;
}

.input-number-decrement {
    position: relative;
    bottom: 10px;
    background: #f5f5f5;
}

.allowSpace {
    margin: 10px auto;
}

.allowSpace5 {
    margin: 5px 0px;
}

.billName {
    font-size: 12.5px;
    font-weight: 500;
    padding-top:2px;
}

.CheckoutForm {
    /* font-size : 13px; */
    color: #777;
}

.margin-bot-20 {
    margin-bottom: 30px;
}

.width100 {
    width: 100%;
}

.mTop10 {
    margin: 10px 0px 0px;
}

.hbilltime {
    padding-top: 18px;
    text-align: left;
    padding-left: 2px;
}
.mat-button{
    color: #fff;
}
.CheckOutbutton {
    width: 100%;
    font-weight: 400;
    color: #fff;
    background:#f47f51!important;
    border: 1px solid #f47f51!important;
}
.Disablebutton{
    width: 100%;
    font-weight: 400;
    color:black;
    background:rgb(226, 223, 223);
    border: 1px solid white;
}

.hourlyButton {
    width: 100%;
    font-weight: 400;
    color: #f47f51!important;
    background: #fff;
    border: 1px solid #f47f51!important;
}

.toHourly {
    /* font-size : 13px; */
    text-transform: lowercase;
    color: #888;
}

.hTotal {
    font-size: 150%;
    color: #444;
    font-weight: 500;
}

.hPadding {
    padding: 10px 0px;
    border-bottom: 1px solid #f47f51!important;
}

.hTotal sup {
    /* font-size : 13px; */
}

.hBillBox {
    margin: 0px 14%;
    width: 72%;
}

.caps {
    text-transform: uppercase !important;
}

.hourlyBill {
    float: left;
    width: 90%;
    margin: 2% 5%;
    padding: 10px;
    border: 2px dotted#f47f51!important;
}

.selectService {
    padding: 20px;
}

.padContainer {
    padding: 10px 0px;
}
.pad10{
    padding:10px;
}

.pad25 {
    padding: 25px;
}

.pad15 {
    padding: 15px;
}

.pad15-v {
    padding: 15px 0px;
}

.pad11-v {
    padding: 11px 0px;
}

sup {
    /* font-size : 13px; */
    margin-right: 1px;
    top: -0.7em;
}

.tTotal {
    font-weight: 600;
    font-size: 130%;
    color: #111;
}

.activeBill .tTotal {
    font-weight: 400;
    font-size: 100%;
    color: #444;
}

.inactiveBill .tTotal {
    font-weight: 400;
    font-size: 100%;
    color: #777;
}

.activeBill sup, .inactiveBill sup {
    /* font-size : 13px; */
    margin-right: 1px;
    top: -0.5em;
}

.addShadow {
    box-shadow: 2px 1px #ccc;
}

.category-select-option {
    padding: 5px 10px;
}

.locateButton {
    padding: 0px;
    min-width: 35px;
    line-height: 32px;
    /* background-color:#8b8787; */
    background-color:#cdc9c9;
}
CloseButton{
    padding: 0px;
    min-width: 35px;
    line-height: 32px;
    /* background-color:#8b8787; */
    background-color:#cdc9c9;
}

.smallButton, .primaryButton, .dangerButton {
    min-width: 15px;
    line-height: 21px;
    padding: 0 6px;
}

.smallButton {
    background: transparent !important;
}

.primaryButton {
    background: #ffc10775 !important;
    /* font-size : 13px; */
    color: #7d7b7b;
}
.collectionImg .emptyImg {
    background-image: url(../../assets/images/file_icon.png);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: inline-block;
    /* border: 1px dotted gainsboro; */
    /* padding: 10px; */
}
.scrollable::-webkit-scrollbar-track, .serviceListSection::-webkit-scrollbar-track, .checkoutlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar, .serviceListSection::-webkit-scrollbar, .checkoutlist::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar-thumb, .serviceListSection::-webkit-scrollbar-thumb, .checkoutlist::-webkit-scrollbar-thumb {
    background-color: #f47f51;
    border: 1px solid  #f47f51;
}
.dangerButton {
    background: #fbb3b369 !important;
    /* font-size : 13px; */
    color: #7d7b7b;
}

#inputPromo {
    border: 1px solid #cbcbcb;
    width: 100%;
    background:#cbcbcb;
}


#internet_checker {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    opacity: 1;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}

#internet_checker .preload {
    background: rgba(0, 0, 0, 0.5);
    height: 100%;
    overflow: hidden;
}

#internet_checker .preload-status {
    width: 500px;
    position: relative;
    margin: 10% auto;
    height: 300px;
    background: #fff;
    border-radius: 4px;
    padding: 10px;
}

#internet_checker .preload-status .preload-status-bar img {
    width: 100%;
    height: 280px;
}

.preload-status-info {
    font-weight: 900;
    /* font-size : 13px; */
    position: absolute;
    bottom: 30px;
    margin: 0% 19%;
    width: 58%;
    color: #36464e;
    font-family: inherit;
    text-align: center;
}

/*--------------------------------------- check Box---------------------------------------------------------------*/

.containerChk {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px;  */
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */

.containerChk input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */

.containerChk:hover input~.checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */

.containerChk input:checked~.checkmark {
    background-color: #f47f51!important;
}

.containerChk input:checked~.containerChk {
    color: #f47f51!important;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */

.containerChk input:checked~.checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */

.containerChk .checkmark:after {
    left: 6px;
    top: 2px;
    width: 4px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* css for middle child */
.BookType
{
    background-color: #bababa !important
}
.borderSides {
    /* The middle element in a set of 5 is the 3rd element */
    border-right: 1px solid #ccc !important;
    border-left: 1px solid #ccc !important;
}

.highLight {
    box-shadow: 2px 2px 2px 2px #a6a4a4;
}

.w100 {
    width: 98%;
}

.filteredProList {
    float: left;
    width: 100%;
}
.scrollable{
    overflow-y: scroll;
    max-height: 50vh;
}

.checkoutlist {
    float: left;
    width: 99%;
    overflow-y: scroll;
    max-height: 350px;
}

.providerError {
    width: 100%;
    float: left;
    padding: 20px;
    color: #bbb;
    text-align: center;
}

.scrollable::-webkit-scrollbar-track, .serviceListSection::-webkit-scrollbar-track, .checkoutlist::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar, .serviceListSection::-webkit-scrollbar, .checkoutlist::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar-thumb, .serviceListSection::-webkit-scrollbar-thumb, .checkoutlist::-webkit-scrollbar-thumb {
    background-color: #f47f51;
    border: 1px solid  #f47f51;
}
#CurrencyForBidding{
    margin: 0px 0px 0px 35px;
}
#CurrencyBidding{
    border: 2px solid #a8a7a7 !important;
    padding: 10px;
    left: 10px;
    margin: 0px 0px 0px 48px;
}

.serviceListSection {
    overflow-y: scroll;
    min-height: 5vh;
    max-height: 48vh;
}

#mapModal, #addCustomer {
    background: rgba(0, 0, 0, .5);
}
.shifting.modal-dialog{
    min-width:500px;
}

.floatMap {
    position: relative;
    width: 60%;
    margin: 18vh auto;
}

.registrationPanel {
    position: fixed;
    width: 36%;
    margin: 16% 32%;
    padding: 15px;
}

.closeModal {
    position: absolute;
    z-index: 9;
    right: -15px;
    top:-15px;
}
/* .closeModal .mat-button {
    background-color:#cdc9c9;
} */

.padding-right-0 {
    padding-right: 0px;
}


.animatedView{
    display: block;
    -webkit-animation: fadeIn 1.5s;
    animation: fadeIn 1.5s;
}
@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.scrollables{
    -webkit-transition: height .25s ease;
       -moz-transition: height .25s ease;
            transition: height .25s ease;
}


.box {
    display: block;
    width: 100px;
    height: 100px;
    margin: 10px 33%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
  }
  
  .upload-options {
    position: relative;
    height: 25px;
    background-color: #f47f51!important;
    cursor: pointer;
    overflow: hidden;
    text-align: center;
    transition: background-color ease-in-out 150ms;
  }
  .upload-options:hover {
    background-color: #f47f51!important;
  }
  .upload-options input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
  .upload-options label {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    overflow: hidden;
  }
  .upload-options label::after {
    content: 'add';
    font-family: 'Material Icons';
    position: absolute;
    font-size: 2.5rem;
    color: #e6e6e6;
    top: -4px;
    left: calc(50% - 1.25rem);
    z-index: 0;
  }
  .upload-options label span {
    display: inline-block;
    width: 50%;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
  }
  .upload-options label span:hover i.material-icons {
    color: lightgray;
  }
  
  .js--image-preview {
    height: 75px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-image: url();
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .js--image-preview::after {
    content: "photo_size_select_actual";
    font-family: 'Material Icons';
    position: relative;
    font-size: 4.5em;
    color: #e6e6e6;
    top: -6px;
    left: 18px;
    z-index: 0;
  }
  .js--image-preview.js--no-default::after {
    display: none;
  }

  .drop {
    display: block;
    position: absolute;
    background: rgba(95, 158, 160, 0.2);
    border-radius: 100%;
    transform: scale(0);
  }
  
  .animate {
    animation: ripple 0.4s linear;
  }
  
  @keyframes ripple {
    100% {
      opacity: 0;
      transform: scale(2.5);
    }
  }
  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .example-radio-button {
    margin: 5px;
    font-weight:500;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  .example-margin {
    margin: 0 10px;
  }
  .marginVertical{
      margin: 8px 0px 8px 0px;
  }
  .LaterBookDuration.numInput.flatpickr-minute, .LaterBookDuration.flatpickr-time-separator{
      display: none !important ;
  }
  .mulShift{
      font-weight: 200 !important;
      /* font-size: 13px !important; ;*/
  }
  
  /* .drop_iconsMenu > svg{
    width: 35px;
    height: 20px;
    color: #eee;
    position: absolute;
    top: -26px;
    left: -37px;
  }
  .fullscreen_icn > svg{
    width: 35px;
    height: 20px;
    color: #eee;
    position: absolute;
    top: -17px;
    left: -26px;
  } */
  .posRel{
   position:relative;
  }
  /* .list-inline>li{
      padding-right: 20px !important;
  } */
  /* .bell_icons > svg{
    width: 35px;
    height: 20px;
    color: #eee;
    position: absolute;
    top: -16px;
    left: -11px;
  }
  .logout_icons > svg{
    width: 35px;
    height: 20px;
    color: #eee;
    position: absolute;
    top: -17px;
    left: 1px;
  } */

  .svgIcons{
          width:20px ;
          height: 20px;
  }

  .glphIconsCustom li{
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 20px !important;
  }
  .glphIconsCustom li img{
    /* width: 20px;
    height: 20px; */
  }
  .glphIconsCustom li .SubNav{
    padding-top: 0px !important;
    text-decoration: underline;
  }
  .dudeLabel i, .locateButton i{
      padding-right: 5px;
  }

  .dudeLabel svg{
    padding: 0px 5px 5px 0px;
    /* width: 16px;
    height: 50px; */
    width:13px;
    height: 30px;
  }
  .dudeLabel1 svg{
    padding: 0px 5px 5px 0px;
    width:16px;
    height: 40px;
  }
  .dropdown-menu>li>a:hover{
      color:unset !important;
      background-color: unset !important;

  }
  ul.dropdown-menu.right_margin1{
    max-height: 70vh !important;
    min-width: 303px !important;
    overflow-x: none;
    overflow-y: scroll;
    overflow-x: none;
    left: -700% !important;
    right: 35%;
  }
  @media (min-width:992px) and (max-width:1300px){

  .dudeLabel svg{
    width: 12px !important;
    height: 45px  !important;
  }
  .dudeLabel1 svg{
    width: 12px  !important;
    height: 45px  !important;
  }
}

.colorText{
    font-weight: 400 !important;
    color: gray !important;
}