/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/vendors/ngx-modals.css";


.radioo{
    display: block;
   /* font-size: 13px !important; */;
    cursor: pointer;
    font-weight: 300;
}
.radioo:hover{
    color: #454545;
}
.radioo:hover .inner{
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 0.5;
}
.radioo input:checked + .outer{
    border: 1px solid#f47f51;
}
.radioo .outer {
    width: 12px;
    height: 12px;
    display: block;
    float: left;
    margin: 2px 10px;
    border: 1px solid #f47f51;
    border-radius: 50%;
    background-color: #fff;
}
.radioo input {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.collapse.in{
    display: block;
    float: left;
    background: #f5f5f5;
    border-bottom: 2px solid #ddd;
}
   
.radioo input:checked + .outer .inner {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.radioo .inner {
    transition: all 0.15s ease-in-out;
    width: 6px;
    height: 6px;
    -webkit-transform: scale(0);
    transform: scale(0);
    display: block;
    margin: 2px;
    border-radius: 50%;
    background-color: #f47f51;
    opacity: 0;
}
.radioo input:focus + .outer .inner {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    background-color: #f47f51;
  }


  @-webkit-keyframes
 
  cardEnter {  0%, 20%, 40%, 60%, 80%, 100% {
   -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
   0% {
   opacity: 0;
   -webkit-transform: scale3d(0.3, 0.3, 0.3);
  }
   20% {
   -webkit-transform: scale3d(1.1, 1.1, 1.1);
  }
   40% {
   -webkit-transform: scale3d(0.9, 0.9, 0.9);
  }
   60% {
   opacity: 1;
   -webkit-transform: scale3d(1.03, 1.03, 1.03);
  }
   80% {
   -webkit-transform: scale3d(0.97, 0.97, 0.97);
  }
   100% {
   opacity: 1;
   -webkit-transform: scale3d(1, 1, 1);
  }
  }
  @keyframes 
  cardEnter {  0%, 20%, 40%, 60%, 80%, 100% {
   -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
   transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
   0% {
   opacity: 0;
   -webkit-transform: scale3d(0.3, 0.3, 0.3);
   transform: scale3d(0.3, 0.3, 0.3);
  }
   20% {
   -webkit-transform: scale3d(1.1, 1.1, 1.1);
   transform: scale3d(1.1, 1.1, 1.1);
  }
   40% {
   -webkit-transform: scale3d(0.9, 0.9, 0.9);
   transform: scale3d(0.9, 0.9, 0.9);
  }
   60% {
   opacity: 1;
   -webkit-transform: scale3d(1.03, 1.03, 1.03);
   transform: scale3d(1.03, 1.03, 1.03);
  }
   80% {
   -webkit-transform: scale3d(0.97, 0.97, 0.97);
   transform: scale3d(0.97, 0.97, 0.97);
  }
   100% {
   opacity: 1;
   -webkit-transform: scale3d(1, 1, 1);
   transform: scale3d(1, 1, 1);
  }
  }

  .emptyData img{
    width: 100%;
    height: auto;
    margin-top: 30%;
}
.job_id_header .userDetails{
    padding: 2px 10px;
}

.padding-5{
    padding: 0px 5px !important;
    float: right;
}
.opacityChange{
   opacity: 0.6 !important;
}
.margin-rl{
    margin: 0px 5px !important;
}
.margin-CustomerName{
    margin-left: 9px;
    margin-bottom: 4px;
}
.userDetail > p{
    margin-bottom: 4px !important;
}
.job_id_body .customerName{
    margin-right: unset !important;
} 
.now-later .watingReg{
 margin-right: -50px !important;
 color: #46c0ff;
}
.fontWeight{
    font-weight: 200;
}
.addJobBody .animatedView .country-selector{
    background-image: url(https://www.gstatic.com/images/icons/material/system/1x/arrow_drop_down_grey600_18dp.png); 
    background-position: right center; 
    background-repeat: no-repeat;
    background-size: 18px auto;
    border-radius: 0;
    color: rgba(0,0,0,.87);
    flex-shrink: 0;
    height: initial;
    line-height: unset;
    padding: 1px;
    width: 90px;
    opacity: 1;
    transition: opacity .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    right: auto;
    left: 0;
    /* font-size: inherit; */
    font-weight: inherit;
    z-index: 1;
}
.swal2-actions .swal2-cancel{
    margin-right: 15px !important;
}
.marginTop10{
    margin-top:12px !important;
}
.scheduleStyle{
    width: 50%;
    text-align: right;
    padding-right: 12px;
}
.paddingForBooking{
    padding: 4px;
}
.marginBtmBooking{
    margin-bottom: 3px !important;
}
.borderForRepeat{
    border: 1px solid #b9b5b5;
}
.colorRed{
    color:red;
}
