p {
    margin: 0px;
}
.showLoader{
    display:block;
    position: absolute;
    width: 26%;
    height: 90%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    top: 102px;
    left: 0px;
}
.hideLoader{
    display:none;
    position: absolute;
    width: 26%;
    height: 90%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    top: 123px;
    left: 0px;
}
h5 {
    color: white;
}
.width-25{
    /* widows: 25%; */
    width:33%;
    overflow:auto;
}
.width-50{
  width:50%;
  overflow: auto;
}
.zeroPadding{
    padding: 0px;
}
body {
    font-family: 'Lato', sans-serif;
   /*font-size: 13px; */ 
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.left_window_body .sorting-header{
    color: #1e8c10;
    /* /*font-size: 13px; */ 
    width: 100%;
    padding: 10px!important;
}
.Editing_Cart{
    height:  300px;
}
.Editing_Cart .CartBill{
    height: 70px;
}
.CartBill .cartBillName{
    margin-top: 10px;
    margin-bottom: 0px;
}
.serviceListSection {
    overflow-y: scroll;
    min-height: 5vh;
    max-height: 48vh;
}
.scrollable::-webkit-scrollbar-track, .serviceListSection::-webkit-scrollbar-track, .checkoutlist::-webkit-scrollbar-track,
 {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar, .serviceListSection::-webkit-scrollbar, .checkoutlist::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollable::-webkit-scrollbar-thumb, .serviceListSection::-webkit-scrollbar-thumb, .checkoutlist::-webkit-scrollbar-thumb {
    background-color: #f47f51;
    border: 1px solid  #f47f51;
}
.serviceItem {
    width: 100%;
    float: left;
    cursor: pointer;
    background: #ffffff;
}
/* .allowSpace5 {
    margin: 5px 0px;
} */

/* .allowSpace5{
   height: 40px;
} */
.serviceItem :hover {
    background: #fafafa;
}
.input-number{
    border: 0;
    width: 50px;
}
/* .billName{
    padding-top: 10px;
} */
.serviceItem :hover .billIcon, .serviceItem :hover .billName {
    color:#f47f51!important;

}
.activeBill {
    border: 1px solid #f47f51!important;
    height: 40px;
}
.padItem {
    padding-top: 9px;
    padding-bottom: 9px;
}
.primaryButton {
    background: #ffc10775 !important;
   /*font-size: 13px; */ 
    color: #7d7b7b;
}

.allowSpace input, .jobBill input {
    width: 100%;
    /* text-align: center; */
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
}
.allowSpace {
    margin: 10px auto;
}
.hourlyBill {
    float: left;
    width: 90%;
    margin: 2% 5%;
    padding: 10px;
    border: 2px dotted #f47f51!important;
}
.bglight {
    background: #f6f6f6;
}
.toHourly {
   /*font-size: 13px; */ 
    text-transform: lowercase;
    color: #888;
}
.caps {
    text-transform: uppercase !important;
}
.padding-1 {
    padding-right: 5px;
    padding-left: 5px;
}
.hTotal {
   font-size: 150%;
    color: #444;
    font-weight: 500;
}

.hPadding {
    padding: 10px 0px;
    border-bottom: 1px solid #f47f51!important;
}

.hTotal sup {
   /*font-size: 13px; */ 
}

.hBillBox {
    margin: 0px 14%;
    width: 72%;
}
.pad25 {
    padding: 15px;
}
.smallButton, .primaryButton, .dangerButton {
    min-width: 15px;
    line-height: 21px;
    padding: 0 6px;
}

.smallButton {
    background: transparent !important;
}
.hbilltime {
    padding-top: 18px;
    text-align: left;
    padding-left: 2px;
}
.circleDot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    content: '';
    border-radius: 36px;
    display: inline-block;
}

.circleDot {
    background:#f47f51!important;
    border: 1px solid #f47f51!important;
}


nav {
    background: #f47f51!important;
    height: 50px;
    padding: 10px;
    -webkit-box-shadow: 0px 2px 30px -3px rgba(190, 58, 43, 0.5);
    -moz-box-shadow: 0px 2px 30px -3px rgba(190, 58, 43, 0.5);
    box-shadow: 0px 2px 30px -3px rgba(190, 58, 43, 0.5);
}

.bookingDeatailsBody {
    background: #eee;
    position: fixed;
    width: 60%;
    margin: 2% 20%;
    padding: 15px;
}

.font12 {
   /*font-size: 13px; */ 
}

.padding-0 {
    padding: 0px;
}

.navbar-header-left {
    width: calc(50% - 50px);
    float: left
}

.job_id_body {
    /* padding: 0px 8px; */
    max-height: 300px;
    transition: max-height 300ms;
    /* padding-top: 5px; */
    margin-top: 10px;
}

.navbar-header-right {
    width: calc(50% - 50px);
    text-align: right;
    float: right;
}

.scrollStyle::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

.scrollStyle::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollStyle::-webkit-scrollbar-thumb {
    /* background-color: rgba(174, 232, 60, 0.5); */
    background-color: #f47f51!important;
}
.Button{
    color:  rgb(172, 167, 167)  !important;
}
.booklist {
    height: 70vh;
    overflow-y: scroll;
    background: #ddd9dc;
}

.providerbooklist {
    height: 40vh;
    overflow-y: scroll;
}

.glyphicon {
    color: black;
}

.count {
    margin-right: 5px;
    padding: 5px 10px;
    border-radius: 50%;
    color: #fff;
   font-size: 90%;
}
.energetic{
    background: rgba(65, 67, 73, 0.55);
}

.energetic1 {
    /* background: rgba(101, 114, 187, 0.55); */
    background-color: #76cf95;
}
.danger1{
    /* background: #db2727 !important; */
    padding: 2px 7px;
   /* /*font-size: 13px; */ 
    border-radius: 50%;
    float: right;
    /* margin: 3px 3px 0px 0px; */
    /* color: black; */
    background:#06557e;
}
.danger {
    /* background: #f09191 !important; */
    padding: 2px 7px;
   /*font-size: 13px; */ 
    border-radius: 2px;
    float: right;
    /* margin: 3px 3px 0px 0px; */
}

.dull {
    background: #cbcb00 !important;
}
.shaded{
    background-color:rgb(208, 255, 208)!important;
}   

.dispatch_attempt {
    /* background: #6572bb; */
    background-color: #06557e!important;
    padding: 0px 5px;
    border-radius: 50%;
   /*font-size: 13px; */ 
    color: #fff;
    position: absolute;
    right: -11px;
    top: -6px;
}

.statusButtons li.active {
    background: rgba(0, 0, 0, 0.1);
}

.statusButtons li button {
    width: 100%;
}

.toSpan {
    color: #fff;
    /*font-size: 13px; */ 
    font-weight: 600;
}

/* provider List styles */

.eachProvider {
    height: auto;
    box-shadow: 0 0 5px #d5cdcd;
    margin-bottom: 10px;
    height: auto;
    padding: 12px;
    overflow: hidden;
    cursor: pointer;
}

.eachProvider:hover {
    background: #e5f6ff;
    transition: all 100ms ease-in-out;
}

.activeBooking .job_id_body {
    /* background: rgba(40, 192, 251, 0.349); */
    background-color: #f47f51!important;
}

.provider-profile-main-container {
    width: 100%;
    float: left;
}

.image-status-div {
    position: relative;
    float: left;
    margin-top: 1px;
}

.profile-pic {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 5px;
}

.aws-image {
    border-radius: 50% !important;
}

.status-indicator {
    position: absolute;
    right: 2.5px;
}

.name-phone-div {
    margin-top: 0;
    width: 55%;
    margin-left: 5px;
    float: left;
}

.div_display {
    display: inline-block;
}

.provider-name {
   /* /*font-size: 13px; */ 
    cursor: pointer;
}

.provider-name:hover {
    /* color: #6572bb; */
   color: #f47f51!important;
}

.provider-phone {
    color: #524f4f;
   /*font-size: 13px; */ 
}

/* provider List styles ends*/

/* provider details styles */

.provider-profile-details-footer {
    background-color: #f6f6f6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14) !important;
    overflow: auto;
    padding: 5px;
    text-align: center;
}

.device-status {
    float: left;
    width: 25%;
}

.device-name {
   /*font-size: 13px; */ 
    margin-bottom: 5px;
}

.device-avail {
    font-weight: bold;
}

.no-providers {
    text-align: center;
   /*font-size: 13px; */ 
    padding: 50px 10px;
    float: left;
    width: 100%;
}

/*  ends */

/* left right screens styles */

div#indispatch, div#assigned, div#completed, div#unassigned {
    height: 32vh;
    /* height: 70vh; */
    overflow-y: scroll;
    /* background-color:#48951f; */
}
  
/* ends */
/* job details popup */

#details_task_job_details_top, #details_task_job_details_bottom {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    width: 100%;
    float: left;
    padding: 10px 30px;
}

.left-job-details {
    margin-top: 15px;
    float: left;
}

.right-job-details {
    margin-top: 15px;
    float: right;
}

.width-50 {
    width: 50%;
    overflow: auto;
}

#details_job_services, #details_job_payment {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    /* padding: 0 30px 15px 30px; */
    /* padding: 5px 18px; */
    padding: 5px 16px;
    overflow: auto;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.width-50 {
    width: 50%;
    overflow: auto;
}

/* ends */

locator {
    color: #000 !important;
}

.profile-image {
    float: left;
}

.profile-image img {
    border-radius: 50%;
}

.profile-details {
    margin-left: 45px;
    margin-top: 5px;
}

.glyphicon:hover {
    color: #ff9001;
    transition: all 200ms ease-in-out;
}

li.open .dropdown-toggle>span, ul.dropdown-menu.left_margin li a:hover span, ul.dropdown-menu.right_margin li a:hover span {
    color: #ff9001;
    transition: all 200ms ease-in-out;
}

button#menu1 {
    padding: 4px 30px;
    background: #f5f3f3;
    border: 0px;
    color: #8a8989;
    margin-top: -1px;
    width: 160px;
    outline: 0px
}

input#search {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 160px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
   /*font-size: 13px; */ 
    background-color: white;
    /*background-image: url('searchicon.png');*/
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    padding: 3px 7px;
    border-radius: 4px;
    border: 0px;
    background: #f5f3f3;
    margin-left: 20px;
    padding-bottom: 5px;
}

input#search:focus {
    width: 100%;
    background: #f5f3f3;
    color: #666666;
    outline: 0px
}

.container-fluid {
    margin: 0px;
    padding: 0px
}

.right-window {
    width: 23%;
    float: right
}

.left_marker {
    width: 40px;
    height: 40px;
    position: absolute;
    right: -39px;
    background: #f47f51;
    display: table;
    border-radius: 0px 5px 5px 0px;
    text-align: center;
    cursor: pointer
}

.right_marker {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -40px;
    background:  #f47f51;
    text-align: center;
    border-radius: 5px 0px 0px 5px;
    display: table;
    cursor: pointer
}

.marker_icns {
    color: #fff!important;
    display: table-cell!important;
    vertical-align: middle;
   font-size : 13px!important;
}

.rotate_pointer {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
    color: #fff!important
}

.left_window_header, .right_window_header {
    height: 40px;
    /* background:  #f47f51; */
    border-bottom: 1px solid #eae3e3;
}

.left_window_header {
    display: table;
    width: 100%;
    padding: 5px 30px
}

.left_window_txt {
    color: #fff;
    font-weight: 600;
   /* /*font-size: 13px; */ 
    line-height: 38px;
}

.button_style2 {
    margin-top: 4px
}

button#menu2 {
    /* padding: 1px 26px; */
    width: 60%;
    outline: 0px;
    background: #e4e1e1;
    color: #c0392b;
    font-weight: 600;
    text-align: left;
   /* /*font-size: 13px; */ 
    float: right
}

.caret {
    float: right;
    margin-top: 9px;
}

.dropdown, .dropup {
    position: relative;
}

.glyphicon.icn_left, .icns_right {
   /*font-size: 13px; */ 
    padding: 15px 5px;
}

.full {
    float: left;
    width: 77%;
}

.folded {
    float: left;
}

.extraInfo {
    float: right;
    width: 85%;
   /*font-size: 13px; */ 
    margin-top: 5px;
    text-align: start;
}

.providerLocation {
    padding: 5px;
}

/* .jobCounts {
    width: 20%;
    float: left;
    margin-top: 2px;
    text-align: right;
} */

.agent_img img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.ProviderInfo {
    position: absolute;
    width: 23%;
    height: 93vh;
    background: #fff;
    top: 50px;
    right: 0;
    z-index: 4;
}

.fLeft25 {
    float: left;
    width: 25%;
}

.closeInfo {
    position: absolute;
    right: 10px;
   /* /*font-size: 13px; */ 
}

#closeInfo a {
    color: #fff !important;
    cursor: pointer;
    -webkit-transition: color 0.1s,font-size 0.1s;
    -moz-transition: color 0.1s,font-size 0.1s;
    -o-transition: color 0.1s,font-size 0.1s;
    transition: color 0.1s,font-size 0.1s;
}

.loadingGif {
    width: 100%;
    margin-top: 10vh;
}

.padding-0 {
    padding: 0px;
}

#closeInfo a:hover {
    color: #ddd !important;
   font-size: 102%;
}

.tot_job {
   /*font-size: 13px; */ 
    color: red
}

.lastSeen {
   /*font-size: 13px; */ 
    color: #1da0bf;
}

.hide {
    display: block;
}

.providerList {
    float: left;
    width: 23%;
    height: 93vh;
}

.leftPane {
    float: left;
    width: 23%;
    height: 90vh;
}

.defaultMessage img {
    width: 100px;
}

.defaultMessage p {
    color: #555;
    font-weight: 600;
}

.defaultMessage {
    text-align: center;
    padding: 20px 10px;
    margin-top: 200px;
}

.list-group-submenu a {
    padding-left: 50px;
}

#MainMenu {
    position: absolute;
    width: 93%;
    z-index: 99;
}

.list-group-item-success {
    background: #eee !important;
}

.panel-body .table>tbody>tr>td {
    cursor: pointer;
    background: #fff !important;
}

.panel-body .table>tbody>tr>td:hover {
    background: #cedbe6 !important;
}

#MainMenu .panel-body {
    width: 100% !important
}

.floatRight {
    float: right;
}

.panel-body .table>tbody>tr>td a {
    color: #555 !important;
   /*font-size: 13px; */ 
    font-weight: 600;
}

.list-group a {
    cursor: pointer;
    /* color: #6572bb; */
    color:  #f47f51!important;
    font-weight: 600;
    padding-left: 27px;
}

.panel-group .panel+.panel {
    margin-top: 0px;
}

.panel-title a {
    color: #444;
    font-weight: 500;
   /* /*font-size: 13px; */ 
}

.panel-default>.panel-heading {
    background-color: #e5e5e5;
}

a.list-group-item-success:focus, button.list-group-item-success:focus {
    background-color: #eee;
}

a.list-group-item-success:hover, button.list-group-item-success:hover {
    background-color: #ddd;
}

.job_id_type {
    float: right;
}

.display_none {
    display: none
}

div#calender_dropdown {
    left: -26%;
    height: 48%;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
    float: left;
    width: 14.28%;
   /*font-size: 13px; */ 
    height: 2.8em;
    text-align: center;
    line-height: 2.8em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
    background-color: #c0392b;
}

.width_3, .width_3_rt {
    width: 32%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
   font-size : 13px
}

p.numbers {
   font-size : 16px;
    margin-bottom: 0px;
    /* color: #3f51b5!important; */
    color: black!important;
}

.width_3:hover p, .width_3.active p, .width_3_rt:hover p, .width_3_rt.active p, .width_4_left:hover p, .width_4_left:active p, .width_2_right:hover p, .width_2_right.active p, .width_5.active p, .width_5:hover p {
    /* color: #3f51b5!important; */
    color:  #f47f51!important;
    cursor: pointer;
    font-weight: 600;
    trasition: all 300ms ease-in-out;
}

.width_3, .width_3_rt, .width_4_left, .width_2_right, .width_5 {
    padding: 10px 0px
}

.width_3:hover, .width_3.active, .width_3_rt:hover, .width_3_rt.active, .width_4_left:hover, .width_4_left.active, .width_2_right:hover, .width_2_right.active, .width_5:hover, .width_5.active {
    border-bottom: 3px solid  #f47f51!important;
    transition: all 400ms ease-in-out;
}

.left_window_assignments, .provider_job_search .connections_div {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    cursor: pointer;
}

/*.connections_div{
    overflow: auto;
}*/

.connections_div:hover {
    transition: all 100ms ease-in-out;
}

p.assign {
    text-align: right;
    float: right;
    color: #9b59b6;
   /* /*font-size: 13px; */ 
    font-weight: 600;
}

.left_window_body {
    padding: 0px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    max-height: 550px;
    /* background: #eee; */
}

p.div_display.body_text {
    color: #2f2d2d;
    font-weight: bolder;
   /* /*font-size: 13px; */ 
}

.details_body .glyphicon {
   /*font-size: 13px; */ 
}

.details_body p {
   /* /*font-size: 13px; */ 
    color: #717171;
    font-weight: 300!important
}

.details_body .glyphicon {
   font-size : 13px!important;
    color: #717171;
}

.details_body {
    padding: 0px 0px;
    position: relative;
}

.jobCounts a#details_button {
    float: unset !important;
}

a#details_button {
    text-decoration: none;
    padding: 2px 10px;
    color: #c1b1aa;
   /*font-size: 13px; */ 
    float: right;
    border-radius: 2px;
}

.connections_div {
    padding: 0 10px 10px 10px;
}

.connection_name {
    color: #232323;
   /*font-size: 13px; */ 
    font-weight: 500;
    margin-left: 17px
}

.available .indicator {
    background: green;
    width: 10px;
    height: 10px;
    content: '';
    color: transparent;
    border-radius: 50%;
    margin-top: 5px;
}

.offline .indicator {
    background: #a7a7a7;
   /*font-size: 13px; */ 
    content: '';
    color: transparent;
    border-radius: 53%;
    margin-right: 6px;
}

a#details_button:hover {
    background: #c0392b;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
    font-weight: 600;
   /*font-size: 13px; */ 
    margin-bottom: .4em;
}

ul.list-inline.glphIcons li a {
    margin-left: 0%;
}

a#addnew_but {
    width: 130%;
    color: #666666;
    text-decoration: none;
    padding: 6px 22px;
    background: #f5f3f3;
    margin-left: 0px;
   /* /*font-size: 13px; */ 
    font-weight: 600;
    outline: 0;
}

a#addnew_but:hover {
    background: #c0392b;
    color: #fff;
    transition: all 300ms ease-in-out;
}

.modal-content {
    height: 100%;
}

/* .modal-dialog {
    width: 70%;
    min-width: 1075px;
} */

textarea#comment {
    resize: none;
    height: 60px;
}

/* .modal-body {
    position: relative;
    padding: 15px;
    height: 80%;
} */

.modal-footer {
    padding: 15px;
    text-align: left;
}

button#popup_add, .close_popup {
    background: #0295ce;
    border: 0px;
    color: white;
   /* /*font-size: 13px; */ 
    border-radius: 5px;
    padding: 6px 30px;
    border: 1px solid #0295ce;
    margin-right: 10px;
    outline: 0px
}

.close_popup {
    background: transparent
}

.close_popup {
   /* /*font-size: 13px; */ 
    color: #716f6f;
    border: 1px solid grey;
}

button#popup_add:hover {
    background: #056d96;
    border: 1px solid #0295ce;
}

#map>div {
    height: 94%!important
}

ul.dropdown-menu.left_margin li a, ul.dropdown-menu.right_margin li a {
    margin-left: 0px!important;
}

ul.dropdown-menu.left_margin span, ul.dropdown-menu.right_margin span {
   /* /*font-size: 13px; */ 
}

ul.dropdown-menu.left_margin {
    left: 35%
}

ul.dropdown-menu.right_margin {
    left: 0%;
    right: 35%
}

.dropdown-menu .divider {
    margin: 0px 0;
}

.dropdown-menu.left_margin>li>a {
    display: block;
    padding: 10px 9px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
}

ul.dropdown-menu.right_margin {
    /* position: absolute; */
    left: -175%;
}

ul.dropdown-menu.right_margin li a {
    padding: 10px;
}

.modal-title {
    font-weight: 800;
    color: #464545;
}

.form-control {
    margin-bottom: 10px;
}

.modal-header {
    background: #6572bb;
}

label#task_des {
   /*font-size: 13px; */ 
    color: #757474;
    margin-right: 10px;
    margin-bottom: 9px
}

input#popup_mail {
    /* width: 48.8%; */
    /* display: inline-block; */
}

#input_type {
    width: 100%;
    padding: 10px;
    border: 1px solid aliceblue;
    outline: 0px;
   /*font-size: 13px; */ 
    margin-bottom: 10px;
    color: #6f6969;
    color: #928b8b;
    background: #dde6e9;
}

p.popup_text {
    margin-top: -5px;
   /*font-size: 13px; */ 
    color: #757474;
    font-weight: bold;
}

button#geofence {
    width: 49%;
    border: none;
    padding: 8px;
   /* /*font-size: 13px; */ 
    outline: 0px;
}

button#popup_dropdown {
    width: 100%;
   /*font-size: 13px; */ 
    border-color: #dde6e9;
    background: transparent;
    outline: 0px
}

p.div_display.connection_num {
   /*font-size: 13px; */ 
}

.form-control {
   /*font-size: 13px; */ 
}

.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
}

input.qty_box {
    width: 35%;
}

hr {
    margin-top: 16px;
    margin-bottom: 9px;
    width: 100%;
    border: 0;
    border-top: 1px solid #dbdbdb;
}

.form-control {
    border-color: #dde6e9;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input#sugg_price {
    width: 48.8%;
    margin-top: -5px;
}

button#bulk_import_but {
    padding: 8px 8px;
    border: 0px;
    background: #dbdbdb;
    color: #c0392b;
   /*font-size: 13px; */ 
    position: relative!important;
}

li.open {
    position: relative;
}

#bulk_import_but {
    padding: 8px 8px;
    border: 0px;
    border-bottom: 2px solid #dbdbdb;
    margin-top: 1px;
    background: #dbdbdb;
    color: #c0392b;
}

.glyphicon.glyphicon-triangle-bottom {
    margin: 0px;
   /*font-size: 13px; */ 
}

ol, ul {
    margin-top: 0;
    margin-bottom: 0px;
}

.glyphicon.glyphicon-triangle-bottom.active {
    transfrom: deg(180);
    -ms-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}

.glyphicon.glyphicon-triangle-bottom {
    transition: all 300ms ease-in-out;
}

div#bulk_tasks .modal-dialog {
    width: 40%;
    height: auto;
}

button#download_sample {
    border: 1px solid #d9d7d7;
    border-radius: 3px;
   /*font-size: 13px; */ 
    padding: 10px 20px;
    color: #400000;
    background: #f9f9f9;
    font-weight: 600;
}

.iconsCount {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
   /* /*font-size: 13px; */ 
    background: #BBB;
    color: #fff;
    padding: 0;
    text-decoration: none!important;
    float: left;
    margin-right: 10px;
}

.iconsCountText {
   /* /*font-size: 13px; */ 
    color: #616161;
}

button#menu1_bulk {
    width: 100%;
    margin-top: 10px;
    background: #f9f9f9;
    text-align: left;
    padding: 8px 10px;
    border: 1px solid gainsboro;
    margin-bottom: 10px;
   font-size : 13px
}

a#drop_but_bulk {
    clear: both;
    float: left;
    width: 100%;
    text-align: center;
    background: #f9f9f9;
    padding: 8px 0px;
   /*font-size: 13px; */ 
    margin-top: 10px;
    border-radius: 3px;
    color: #6f6f6f;
    border: 1px solid gainsboro;
    text-decoration: none
}

.emptyData img {
    width: 100%;
    margin-top: 0%;
}

@media screen and (max-width: 1371px) and (min-width: 1200px) {
    .modal-dialog {
        width: 78%;
    }
    .jobCounts {
        width: 20%;
        float: left;
        margin-top: 2px;
        text-align: right;
    }
}

@media screen and (max-width: 1247px) and (min-width: 1076px) {
    #header_date_picker_2, #header_date_picker {
       /* font-size : 13px !important; */
    }
    .toSpan {
       /* font-size : 13px !important; */
    }
    #search_picker {
       /* font-size : 13px !important; */
    }
}

@media screen and (max-width: 1075px) and (min-width: 960px) {
    #header_date_picker_2, #header_date_picker {
       /* font-size : 13px !important; */
    }
    .toSpan {
       /* font-size : 13px !important; */
    }
    #search_picker {
       /* font-size : 13px !important; */
    }
}

@media (min-width: 1200px) {
    .leftPane, .providerList, .ProviderInfo, .left-window {
        width: 26%;
    }
    .mapHalf {
        width: 48%;
    }
    .mapFull{
        width:74%;
    }
    .material-icons {
       /* /*font-size: 13px; */ 
    }
    .autofillCustomer {
        margin-left: 275px !important;
        top: 7%;
    }
    div#available_providers, div#busy_providers, div#offline_providers, div#loggedout_providers, div#inactive_providers, #search {
        height: 78vh;
    }
}
@media (max-width: 1200px) {
    .material-icons {
       /*font-size: 13px; */ 
    }
    .jobCounts{
        display: inline-block;
        width:22%;
        float: left;
        margin-top: 2px;
        text-align: right;
    }
}

@media screen and (max-width: 1199px) and (min-width: 992px) {
    ul.list-inline.glphIcons li a {
        margin-left: 10%;
    }
    .modal-dialog {
        width: 80%;
    }
    input#sugg_price {
        width: 46.8%;
        margin-top: -5px;
    }
    .glyphicon {
       font-size : 13px!important
    }
    .mapFull{
        width:77%;
    }
    .mapHalf {
        width: 54%;
    }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
    .mapHalf {
        width: 28%;
    }
}

div#display_blocks {
    text-align: right;
}

div#tasks_header {
    padding: 13px 15px;
    border-bottom: 1px solid #f7f6f6;
}

a.div_display.task_header_but, .filters_but {
    padding: 5px 20px;
    background: #c0392b;
    color: white;
    outline: 0px;
    border-radius: 3px;
    margin-right: 1%;
   /* /*font-size: 13px; */ 
    text-decoration: none;
}

button.filters_but {
    width: 160px;
    border: none;
    background: #dcd9d9;
    color: #666666;
    font-weight: 600;
}

a.div_display.task_header_but:hover {
    background: #f17f00;
    transition: all 300ms ease-in-out;
}

input.filter_dates {
    border: 1px solid #e6d6d6;
    border-radius: 4px;
    padding: 4px 10px;
   /*font-size: 13px; */ 
    margin-right: 2%;
    margin-left: 2%;
    outline: 0px;
}

span#filter_dates {
    color: #a49090;
   /* /*font-size: 13px; */ 
}

span#task_header_txt {
    color: #c0392b;
   /*font-size: 13px; */ 
    font-weight: 600;
}

div#task_full_height {
    height: auto;
    background: #f5f5f5;
    padding: 20px 30px;
}

div#task_table_content {
    padding: 0px;
    border: 1px solid #ded9d9;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 0px;
    background: #fff!important;
   font-size : 13px!important
}

th {
    color: #6f6f6f;
   font-size : 13px!important
}

th.width_table_one {
    width: 90px;
}

th.width_table_two {
    width: 114px;
}

.table.dataTable>thead>tr>th {
    padding-right: 30px!important;
    vertical-align: middle;
    color: #505050;
}

th.width_table_checkbox {
    width: 30px;
}

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border-bottom-width: 1px;
}

th, td {
    padding: 14px 14px 10px 8px !important;
}

a.assigned {
    padding: 4px 6PX;
    background: #c0392b;
    border-radius: 4px;
    color: #fff;
   /*font-size: 13px; */ 
    text-decoration: none;
    cursor: text;
}

td .glyphicon {
   font-size: 13px!important;
    padding: 0px!important;
    margin: 0px;
}

td {
    vertical-align: middle!important;
}

button.btn.btn-default.btn-sm.div_display {
    margin-bottom: 2px;
}

input[type=checkbox], input[type=radio] {
    width: 20px;
    height: 20px;
}

.redfont a {
    color: #c0392b!important;
    font-weight: 800;
}

td {
    color: #696969;
   font-size : 13px!important
}

#table_blocks_rt {
   /*font-size: 13px; */ 
    text-align: right;
}

#table_blocks_rt {
    margin-left: 10px;
    outline: 0px
}

input[type="search"] {
    border: none;
    width: 70%;
    border-radius: 4px;
    outline: 0px;
    padding: 10px;
    color: #232323;
   /*font-size: 13px; */ 
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
   /*font-size: 13px; */ 
    color: #9c9292;
}

div#red_label label.error {
   font-size : 13px!important;
    margin: 0px;
    margin-left: 3px;
    color: red;
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
    background: #fff;
}

table#example {
    border: 1px solid #eaeaea;
}

td, th {
    border-right: 1px solid #fffdfd;
    border-left: 1px solid #e6dede;
}

div#example_info {
   /*font-size: 13px; */ 
    color: #7b7070;
}

div#example_length {
    padding-left: 10px;
    padding-top: 6px;
}

div#example_filter {
    padding-right: 10px;
    padding-top: 5px;
}

tr.odd {
    background: #fff!important;
}

div#example_paginate {
   /*font-size: 13px; */ 
}

select {
    padding: 9px;
    border: 1px solid #dedede;
    border-radius: 5px;
}

table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ddd;
}

div#edit_popup .modal-dialog {
    width: 30%;
}

button {
    outline: 0px!important
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    position: static!important;
}

#origin-input, #destination-input {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
   /* /*font-size: 13px; */ 
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}

#origin-input:focus, #destination-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    background-color: #FFF;
    z-index: 1024!important;
    position: fixed;
    display: inline-block;
    float: left;
}

div#map>div {
    height: 92%!important;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: #000;
}

.error {
    -webkit-box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 1px rgba(255, 0, 0, 0.3);
    border: 1px solid red
}

/*.wrapper {
  display: table-cell;
  vertical-align: middle; }*/

.form-header {
    text-align: center;
    color: white;
}

.form-header .fa {
   font-size: 48px;
    margin-bottom: 5px;
}

.form-header h1 {
    font-weight: 300;
    margin-bottom: 15px;
    letter-spacing: 0.3em;
   /*font-size: 13px; */ 
}

.form-header h2 {
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 0.3em;
   /* /*font-size: 13px; */ 
}

.has-feedback .form-control-feedback {
    top: 0px;
    width: 35px;
   /*font-size: 13px; */ 
    color: #6fd653;
    opacity: 0;
}

/*form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f6f6f6;
  padding: 30px 25px 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  text-align: center; }*/

form .form-group {
    margin-bottom: 0px;
}

form .form-group .input-group-addon {
    height: 33px;
    width: 44px;
    padding-top: 10px;
    position: absolute;
    left: 0;
    top: 0;
    border: 0;
    background-color: transparent;
}

form .form-group .input-group-addon .glyphicon {
   /*font-size: 13px; */ 
}

form .form-group .form-control {
    padding: 7px;
    padding-left: 46px;
    background-color: white;
    font-weight: 500;
}

form .form-group.has-error label {
    color: #d9534f;
}

form .form-group.has-error label.error {
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 400;
   /* /*font-size: 13px; */ 
}

form .form-group.has-error input, form .form-group.has-error textarea {
    border-color: #d9534f;
}

form .form-group.has-error input:focus, form .form-group.has-error textarea:focus {
    border-color: #d9534f;
    box-shadow: 0 0 6px #d9534f;
}

form .form-group.has-error .input-group-addon {
    color: #d9534f;
}

form .form-group.has-success label {
    color: #6fd653;
}

form .form-group.has-success input, form .form-group.has-success textarea {
    border-color: #6fd653;
}

form .form-group.has-success input:focus, form .form-group.has-success textarea:focus {
    border-color: #6fd653;
    box-shadow: 0 0 6px #6fd653;
}

form .form-group.has-success .input-group-addon {
    color: #6fd653;
}

form .form-group.has-success .form-control-feedback {
    opacity: 1;
}

form .form-group.submit {
    margin: 35px -25px 0;
}

form .form-group.submit input[type="submit"] {
    display: block;
    width: 100%;
   /* /*font-size: 13px; */ 
    letter-spacing: 0.4em;
    border-radius: 0 0 4px 4px;
    border: 0;
    padding: 20px 0 22px;
    background-color: #3ac56e;
    color: white;
    font-weight: 500;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

form .form-group.submit input[type="submit"].disabled {
    background-color: #999999;
}

form.animate-form .has-feedback .form-control-feedback {
    opacity: 1;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 0.25s cubic-bezier(0.035, 1.22, 0.645, 1.385);
    -moz-transition: all 0.25s cubic-bezier(0.035, 1.22, 0.645, 1.385);
    transition: all 0.25s cubic-bezier(0.035, 1.22, 0.645, 1.385);
}

form.animate-form .form-group.has-success .form-control-feedback {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

label.error {
   font-size : 13px!important;
    margin: 0px;
    margin-left: 3px;
    color: red;
}

div#popup_mail {
    width: 18vw;
    min-width: 55%;
}

.bookingBox {
    width: 49%;
    float: left;
}

.mgBtm10 {
    margin-bottom: 10px;
}

#popup_phone {
    width: 13vw;
    min-width: 40%;
    margin-right: 5px;
    display: inline-block;
    float: left;
}

.searchDiv {
    margin-top: 10px;
}

.customerMail {
    float: right;
}

.vehicletypes_but li {
    cursor: pointer
}

.vehicletypes_but li:hover {
    color: greenyellow;
    /* background: #6572bb; */
   background:  #f47f51!important;
    transition: all 300ms ease-in-out
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /* box-sizing:  unset !important;
    -webkit-box-sizing: unset !important; */
}

.clearfix:before, .clearfix:after {
    display: table;
    content: '';
}

.clearfix:after {
    clear: both;
}

body {
    font-family: 'Oswald', sans-serif;
    color: #4b0f31;
    background-color: #f1e5e6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    outline: none;
    color: #d3394c;
    text-decoration: none;
}

a:hover, a:focus {
    color: #722040;
}

.hidden {
    position: absolute;
    overflow: hidden;
    width: 0;
    height: 0;
    pointer-events: none;
}

/* Header */

.codrops-header {
    padding: 2em 1em 4em;
    text-align: center;
}

.codrops-header h1 {
    margin: 0.5em 0 0;
    letter-spacing: -1px;
   font-size: 3em;
    line-height: 1;
}

.codrops-header h1 span {
    display: block;
    padding: 0.5em 0 1em;
    color: #999;
    font-weight: normal;
   font-size: 0.45em;
}

/* Top Navigation Style */

.codrops-links {
    position: relative;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
}

.codrops-links::after {
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    content: '';
    -webkit-transform: rotate3d(0, 0, 1, 22.5deg);
    transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
    display: inline-block;
    margin: 0.5em;
    padding: 0em 0;
    width: 1.5em;
    text-decoration: none;
}

.codrops-icon span {
    display: none;
}

.codrops-icon:before {
    margin: 0 5px;
    text-transform: none;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    font-family: 'codropsicons';
    line-height: 1;
    speak: none;
    -webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
    content: "\e001";
}

.codrops-icon--prev:before {
    content: "\e004";
}

/* Demo links */

.codrops-demos {
    margin: 2em 0 0;
}

.codrops-demos a {
    display: inline-block;
    margin: 0 0.5em;
}

.codrops-demos a.current-demo {
    color: #333;
}

/* Content */

.content {
    width: 100%;
}

.content footer {
    color: #b39295;
    margin-top: 40px;
}

.content footer a:hover, .content footer a:focus {
    color: #4b0f31;
}

.box+.box {
    margin-top: 2.5rem;
}

/* Related demos */

.content--related {
    text-align: center;
    font-weight: bold;
    padding-top: 4em;
}

.media-item {
    display: inline-block;
    padding: 1em;
    vertical-align: top;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
}

.media-item__img {
    max-width: 100%;
    opacity: 0.6;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

.media-item:hover .media-item__img, .media-item:focus .media-item__img {
    opacity: 1;
}

.media-item__title {
    margin: 0;
    padding: 0.5em;
   font-size: 1em;
}

@media screen and (max-width: 50em) {
    .codrops-header {
        padding: 3em 10% 4em;
    }
}

@media screen and (max-width: 40em) {
    .codrops-header h1 {
       font-size: 2.8em;
    }
}

.js .inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile+label {
    max-width: 80%;
   font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile+label {
    display: none;
}

.inputfile:focus+label, .inputfile.has-focus+label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile+label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile+label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

/* style 6 */

.inputfile-6+label {
    color: green;
}

.inputfile-6+label {
    border: 1px solid #dde6e9;
    background-color: #fff;
    padding: 0;
}

.inputfile-6:focus+label, .inputfile-6.has-focus+label, .inputfile-6+label:hover {
    border-color: #cacaca;
}

.inputfile-6+label span, .inputfile-6+label strong {
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile-6+label span {
    width: 200px;
    min-height: 2em;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile-6+label strong {
    height: 100%;
    color: #7b7b7b;
    background-color: #dde6e9;
    display: inline-block;
   /*font-size: 13px; */ 
    padding: 8px;
}

.inputfile-6:focus+label strong, .inputfile-6.has-focus+label strong, .inputfile-6+label:hover strong {
    background-color:  #f47f51;
    color: #fff;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 50em) {
    .inputfile-6+label strong {
        display: block;
    }
}

input#file-7 {
    display: none;
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .glyphicon.glyphicon-fullscreen, .glyphicon.glyphicon-resize-small {
        display: none!important
    }
}

.dtp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2000;
   /* /*font-size: 13px; */ 
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dtp>.dtp-content {
    background: #fff;
    max-width: 300px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    max-height: 520px;
    position: relative;
    left: 50%;
}

.dtp>.dtp-content>.dtp-date-view>header.dtp-header {
    background: #689F38;
    color: #fff;
    text-align: center;
    padding: 0.3em;
}

.dtp div.dtp-date, .dtp div.dtp-time {
    background: #8BC34A;
    text-align: center;
    color: #fff;
    padding: 10px;
}

.dtp div.dtp-date>div {
    padding: 0;
    margin: 0;
}

.dtp div.dtp-actual-month {
   font-size: 1.5em;
}

.dtp div.dtp-actual-num {
   font-size: 3em;
    line-height: 0.9;
}

.dtp div.dtp-actual-maxtime {
   font-size: 3em;
    line-height: 0.9;
}

.dtp div.dtp-actual-year {
   font-size: 1.5em;
    color: #DCEDC8;
}

.dtp div.dtp-picker {
    padding: 1em;
    text-align: center;
}

.dtp div.dtp-picker-month, .dtp div.dtp-actual-time {
    font-weight: 500;
    text-align: center;
}

.dtp div.dtp-picker-month {
    padding-bottom: 20px!important;
    text-transform: uppercase!important;
}

.dtp .dtp-close {
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.dtp .dtp-close>a {
    color: #fff;
}

.dtp .dtp-close>a>i {
   font-size: 1em;
}

.dtp table.dtp-picker-days {
    margin: 0;
    min-height: 251px;
}

.dtp table.dtp-picker-days, .dtp table.dtp-picker-days tr, .dtp table.dtp-picker-days tr>td {
    border: none;
}

.dtp table.dtp-picker-days tr>td {
    font-weight: 700;
   font-size: 0.8em;
    text-align: center;
    padding: 0.5em 0.3em;
}

.dtp table.dtp-picker-days tr>td>.dtp-select-day {
    color: #BDBDBD!important;
    padding: 0.4em 0.5em 0.5em 0.6em;
}

.dtp table.dtp-picker-days tr>td>a, .dtp .dtp-picker-time>a {
    color: #212121;
    text-decoration: none;
    padding: 0.4em 0.5em 0.5em 0.6em;
    border-radius: 50%!important;
}

.dtp table.dtp-picker-days tr>td>a.selected {
    background: #8BC34A;
    color: #fff;
}

.dtp table.dtp-picker-days tr>th {
    color: #757575;
    text-align: center;
    font-weight: 700;
    padding: 0.4em 0.3em;
}

.dtp .p10>a {
    color: #689F38;
    text-decoration: none;
}

.dtp .p10 {
    width: 10%;
    display: inline-block;
}

.dtp .p20 {
    width: 20%;
    display: inline-block;
}

.dtp .p60 {
    width: 60%;
    display: inline-block;
}

.dtp .p80 {
    width: 80%;
    display: inline-block;
}

.dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm {
    position: relative;
    top: 10px;
    color: #212121;
    font-weight: 500;
    padding: 0.7em 0.5em;
    border-radius: 50%!important;
    text-decoration: none;
    background: #eee;
   font-size: 1em;
}

.dtp .dtp-actual-meridien a.selected {
    background: #689F38;
    color: #fff;
}

.dtp .dtp-picker-time>.dtp-select-hour {
    cursor: pointer;
}

.dtp .dtp-picker-time>.dtp-select-minute {
    cursor: pointer;
}

.dtp .dtp-buttons {
    padding: 0 1em 1em 1em;
    text-align: right;
}

.dtp.hidden, .dtp .hidden {
    display: none;
}

.dtp .invisible {
    visibility: hidden;
}

.dtp .left {
    float: left;
}

.dtp .right {
    float: right;
}

.dtp .clearfix {
    clear: both;
}

.dtp .center {
    text-align: center;
}

.flatpickr-calendar.hasTime.dateIsPicked.arrowTop.open {
    padding: 10px!important;
}

.flatpickr-calendar .cur-month {
    color: #c0392b!important;
}

.flatpickr-day.selected, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected.nextMonthDay {
    background: #c0392b!important;
    color: #fff;
    border-color: #c0392b!important;
}

ul.details_popup_menu li {
    list-style-type: none;
    display: inline-block;
    margin-right: -2px;
    padding: 7px 10px;
    /* background: red; */
    border: 1px solid #e0d8d8;
    border-radius: 3px 3px 0px 0px;
   /* /*font-size: 13px; */ 
    cursor: pointer;
    background: #f9f9f9;
    color: #bababa;
}

#details_task .modal-dialog {
    width: 600px!important;
}

ul.details_popup_menu {
    padding: 0px;
}

ul.details_popup_menu li:hover {
    background: #fff;
    color: #232323;
    transition: all 300ms ease-in-out;
}

.details_description {
    height: auto;
    /*background: #f7f5f5;*/
    padding: 12px;
    padding-bottom: 0px
}

.left_details_description, .right_details_description {
    background: #fff;
    min-height: 190px;
    height: auto;
    width: 48.8%;
    display: inline-block;
}

.right_details_description {
    float: right;
}

.details_full_width {
    background: white;
    min-height: 70px;
    margin-top: 7px;
    margin-bottom: 13px;
    padding: 10px;
}

a.details_pop_buttons {
    padding: 8px 20px;
    background: #22a1e4;
    color: white;
   /*font-size: 13px; */ 
    margin-bottom: 10px;
    display: inline-block;
    width: 172px;
    border-radius: 3px;
    text-align: center;
    margin-right: 1px;
    margin-left: 5px;
    width: 100%;
    cursor: pointer
}

a.details_pop_buttons:hover {
    background: #06557e;
    transition: all 200ms ease-in-out;
}

h3#jobid {
   font-size : 13px!important;
    margin: 0px;
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
}

.unassign-jobid {
   font-size : 13px!important;
    margin: 0px;
    color: #fff;
    display: inline-block;
    margin-right: 20px;
    font-family: 'Lato', sans-serif;
}

.close-modal {
    cursor: pointer;
   /* /*font-size: 13px; */ 
    color: #fff;
}

#details_task .modal-footer {
    padding: 0px
}

.jobid_status {
    color: #fff;
    margin-right: 10px
}

.left_details_description, .right_details_description {
    padding: 10px;
    margin-bottom: 6px
}

.details_des_heading {
   /*font-size: 13px; */ 
    font-weight: 600;
    color: #7e7474;
}

li.details_but_sytle.active {
    /* background: #fff!important; */
    color: #232323!important;
    border-bottom: 2px solid #399cd1 !important;
    transition: all 300ms ease-in-out;
}

.details_div_width {
    display: inline-block;
    width: 33%;
    margin-top: 10px;
}

.green_text {
   /*font-size: 13px; */ 
    font-weight: 600;
    color: #3fd900;
}

.red_text {
   /*font-size: 13px; */ 
    font-weight: 600;
    color: #ff0326;
}

.green_circle {
    width: 16px;
    height: 16px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #4fde8c;
    margin-right: 8px;
    /* line-height: 25px; */
    float: left;
}

.red_circle {
    width: 16px;
    height: 16px;
    background: white;
    display: inline-block;
    border-radius: 50%;
    border: 3px solid #f36253;
    margin-right: 8px;
    /* line-height: 25px; */
    float: left;
}

hr#drop_seperator {
    border-color: transparent;
    margin: 6px;
}

.left_window_card {
   /* /*font-size: 13px; */ 
    font-weight: 600;
    margin-top: 8px;
    line-height: 24px;
}

.left_window_amount {
   /*font-size: 13px; */ 
    font-weight: 600;
    float: right;
    color: grey;
}

.glyphicon.glyphicon-credit-card {
   /*font-size: 13px; */ 
    margin: 0px;
    float: left;
    margin-right: 12px;
    /* margin-top: 10px; */
    /* color: #6572bb; */
    color:  #f47f51!important;
}

.details_des_heading2 {
   /* /*font-size: 13px; */ 
    margin-left: 10px;
    font-weight: 600;
    color: #868282;
}

p.details_des_heading2 {
    margin-left: 0px;
    color: #868282;
   /*font-size: 13px; */ 
    margin-top: 3px;
}

img#shipment_img {
    border: 1px solid #f7f5f5;
    padding: 5px;
    margin-top: 10px;
}

p.details_des_heading2.pass_name {
    text-transform: uppercase;
    color: #868282;
    font-weight: 800;
   font-size : 13px
}

.drop_icns {
    color: #505557;
}

input#header_date_picker, input#header_date_picker_2 {
    padding: 5px 11px;
    border: 0px;
    margin-top: 6px;
    border-radius: 5px;
   /*font-size: 13px; */ 
    text-align: center;
    width: 90px;
    color: #fff;
    font-weight: 600;
    /* background: #3f51b5; */
    background:  #f47f51!important;
}
#pac-input2 {
    position: fixed!important;
    top: 0px;
    margin-top: 9px;
    left: 180px!important;
    border-radius: 5px;
    width: 200px;
    box-shadow: none;
   /*font-size: 13px; */
    background-color: rgba(0, 0, 0, .2);
    color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    text-overflow: ellipsis;
} 

.agent_img {
    float: left;
}

.right_header_txt2 {
    /* color: #fff; */
   /*font-size: 13px; */ 
    opacity: 0.8;
}

.right_header_txt {
    /* color: #fff; */
   /*font-size: 13px; */ 
    /* font-weight: 600; */
    margin-bottom: 6px;
}

div#right_header_name {
    margin-top: 5px;
    float: left;
    margin-left: 6px;
}

div#right_map_add_block {
    margin-top: 5px;
    float: left;
    margin-left: 6px;
}

.matSmallButton {
    padding: 0px 5px;
    min-width: 40px;
    line-height: 40px;
}

.right_window_header .matSmallButton {
    color: #fff;
    font-weight: 900;
    background: rgba(0, 0, 0, 0.1);
}

.right_window_header .right-header-text {
    color: #fff;
    font-weight: 600;
    padding: 11px 20px;
   /* /*font-size: 13px; */ 
}

.right_body_add {
    color: white;
    margin-left: 15px;
   /*font-size: 13px; */ 
    font-weight: 600;
}

.spinner {
    padding: 35px 38%;
}

.highlight {
    /* background: rgba(101, 114, 187, 0.45098039215686275); */
   /* background:  #f47f51!important; */
    background: gainsboro !important;
    text-align: center;
    margin: 0px 0px 5px 0px;
}

.highlight h5 {
    font-weight: 600;
    color: black;
}

.agent_heading {
    height: auto !important;
    padding: 5px;
}

.map_marker {
   /*font-size: 13px; */ 
    float: left;
    color: #FFF;
   /* /*font-size: 13px; */ 
}

.div_display.width_4_rt {
    width: 24%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
   /*font-size: 13px; */ 
}

.width_4_left {
    width: 24%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
   /*font-size: 13px; */ 
}
.scroll .left_window_body.bookingtype1{
    /* background: #e2b7b7 !important; */
}
.scroll .left_window_body.bookingType2{
    /* background-color: #e3dff4  !important; */
}
.scroll .left_window_body.bookingtype3{
    /* background: #d4ecf7 !important; */
}
p.dev_info {
   /*font-size: 13px; */ 
}

.left_window_assignments_agents {
    padding: 15px 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
}

p.dev_info2 {
   /*font-size: 13px; */ 
    font-weight: 600;
    margin-top: 6px;
    margin-bottom: -2px;
}

button#right_taks_but {
    width: 100%;
    text-align: left;
    border: 0px;
    padding: 5px 20px;
   /* /*font-size: 13px; */ 
    font-weight: 600;
}

.connections_div.margin_rt_right {
    padding-left: 20px;
}

.left_window_body:hover, .left_window_body.active {
    /* background: #d4ecf7; */
    cursor: pointer;
    transition: all 200ms ease-in-out;
    /* border-right: 4px solid #3f51b5; */
}

@media screen and (max-width: 992px) and (min-width: 100px) {
    div#map>div {
        /*height: 94%!important;*/
        top: 100px!important;
    }
    #left_full_body, #assigned, #completed, #unassigned {
        height: 80vh;
        overflow-y: scroll;
        max-height: 450px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    }
}

div#mapk {
    height: 92vh;
    position: absolute!important;
    top: 50px;
    width: 100%;
}

.leaflet-bottom, .leaflet-top {
    position: absolute;
    z-index: 0!important;
    pointer-events: none;
}

.flatpickr-day.selected, .flatpickr-day.selected:focus, .flatpickr-day.selected:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.selected.nextMonthDay {
    background:  #f47f51!important;
    color: #fff;
    border-color: #f47f51!important;
}

div#floating_button {
    background:  #f47f51!important;
    width: 170px;
    height: 32px;
    bottom: 20px;
    border-radius: 4px;
    color: #fff;
   /*font-size: 13px; */ 
    text-align: left;
    line-height: 31px;
    letter-spacing: 1px;
    padding: 0px 14px;
    cursor: pointer
}

.center_vertical {
    padding-top: 10px
}

div#floating_button:hover {
    background: #f47f51!important;
    transition: 300ms ease-in-out;
}

div#floating_button_parent {
    color: #fff;
    background: #030303;
    position: absolute;
    z-index: 99;
    bottom: 1px;
    right: 120%;
    border-radius: 3px;
}

div#floating_button_zoom_level {
    color: #fff;
    background: #030303;
    position: absolute;
    z-index: 99;
    bottom: 15px;
    right: 108%;
    border-radius: 3px;
}

#zoom-minus {
    width: 100%;
    border-top: 1px solid #ddd !important;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-bottom: 1px solid #000 !important;
}

#zoom-minus:hover, #zoom-plus:hover {
    background-color: #f8f8f8;
}

#zoom-plus {
    border-bottom: 0px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

#zoom-minus, #zoom-plus {
    color: #000;
    background-color: #fff;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
   /* /*font-size: 13px; */ 
    font-weight: bold;
    padding: 2px 8px;
}

div#floating_button_body ul {
    padding: 1px;
    list-style-type: none;
   /*font-size: 13px; */ 
    padding: 0px 10px;
    line-height: 28px;
    width: 170px;
    height: auto;
    padding-bottom: 10px
}

div#floating_button_body ul li {
    position: relative;
}

.Dispatched-countDown {
    background: rgb(62, 128, 0);
}

.Unassigned-countDown {
    background: rgb(173, 0, 0);
}

.countDown {
    margin-left: 10px;
    font-weight: bold;
    color: #fff;
   /*font-size: 13px; */ 
    padding: 3px 6px;
    text-transform: lowercase;
    border-radius: 3px;
}
.example-full-width{
    width: 100%;
}
.box-header {
    background:  #f47f51!important;
    color: #fff;
    padding: 5px;
   /* /*font-size: 13px; */ 
    font-weight: 700;
    text-transform: capitalize;
    border-radius: 4px;
}

.box-text {
    padding: 13px;
    color: #777;
   /* /*font-size: 13px; */ 
}
.w100{
    width:100%;
}
.closeModal-small {
    position: absolute;
    z-index: 9;
    right: 5px;
    top: 8px;
}

.closeModal-small a {
    color: #fff;
    cursor: pointer;
}

.closeModal-small a .material-icons {
   /* /*font-size: 13px; */ 
}

input.radio_buttons {
    position: absolute;
    right: 0px;
    top: 3px;
    width: 15px;
    height: 15px
}

.tabs_details.details_description2, .tabs_details.details_description3 {
    width: 100%;
    height: 500px;
    background: #f9f9f9;
    border-radius: 4px;
    padding: 10px;
    overflow-y: scroll;
}

.path_body {
    background: #199ce3;
    padding: 15px;
    border-radius: 5px;
    color: #fff;
   /* /*font-size: 13px; */ 
}

.activity_body, .provider_activity_body {
    width: 100%;
    min-height: 56px;
    background: #fff;
    position: relative
}

.provider_activity_body {
    min-height: 45px;
    padding: 10px;
}

.bullet_points {
    width: 15px;
    height: 15px;
    background: #118cce;
    content: '';
    border-radius: 36px;
    display: inline-block;
    position: absolute;
    border: 1px solid #d0d0d0;
    left: 10px;
}

.provider_bullet_points {
    width: 10px;
    height: 10px;
    background: #118cce;
    content: '';
    border-radius: 36px;
    display: inline-block;
    position: absolute;
    border: 1px solid #d0d0d0;
    left: 10px;
}

.bullet_line {
    width: 1px;
    display: inline-block;
    background: #d5caca;
    height: 75%;
    position: absolute;
    left: 17px;
    top: 15px
}

.provider_bullet_line {
    width: 1px;
    display: inline-block;
    background: #d5caca;
    height: 78%;
    position: absolute;
    left: 15px;
    bottom: 0;
    /*padding-top: 10px !important;*/
}

.activity_status {
    position: absolute;
    left: 34px;
    color: grey;
   /* /*font-size: 13px; */ 
    top: -3px
}

.provider_activity_status {
    position: absolute;
    left: 25px;
    color: grey;
   /*font-size: 13px; */ 
    top: 6px;
}

a#tasks_left_window {
    position: absolute;
    left: 10px;
    top: 10px;
}

img#driver_img {
    float: left;
    width: 50px;
    margin-right: 10px;
    margin-top: 4px;
    border: 1px solid #cacaca;
}

.driver_details_text {
   /*font-size: 13px; */ 
    font-weight: 400;
    color: black;
}

div#load_more {
    background: #f47f51!important;
    color: #fff;
    border-radius: 3px;
    width: 33px;
    text-align: center;
    height: 33px;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    right: 34px;
    bottom: 46px;
    cursor: pointer;
}

.more_tooltip {
    color: #0ca3f5;
    border-radius: 3px;
    width: 78px;
    text-align: center;
    height: 43px;
    position: absolute;
    bottom: 0px;
    z-index: 99;
    right: 10px;
    bottom: 55px;
    cursor: pointer;
   /*font-size: 13px; */ 
    display: none
}

.more_tooltip_error {
    POSITION: ABSOLUTE;
    bottom: 15px;
    width: 94%;
    background: red;
    color: white;
    text-align: center;
    height: 25px;
    z-index: 999;
    line-height: 20px;
    border-radius: 4px;
}

/* #appt_loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
} */

div#appt_loader_parent {
    position: fixed;
    width: 20%;
    height: 100%;
    left: calc(8% - 50px);
    top: calc(57% - 54px);
    z-index: 99;
}

#appt_loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid  #f47f51!important;
    width: 90px;
    height: 90px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 1s linear infinite;
    position: relative;
    margin: 0px auto;
    /* left: calc(50% - 50px); */
    top: calc(55% - 50px);
}

div#appt_loader_parent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
}

span#activity_head {
   /* /*font-size: 13px; */ 
    display: inline-block;
    width: 100%;
    text-align: center;
    background: #22a1e4;
    padding: 11px;
    color: #fff;
}

.activity_status_time {
    position: absolute;
    left: 35px;
    border: 1px solid #d9d9d9;
    padding: 4px;
   /*font-size: 13px; */ 
    border-radius: 5px;
    top: 17px;
    background: #fafafa;
}

div#right_window_vehicle_block {}

p#rw_vehicle_block_head {
   /* /*font-size: 13px; */ 
    color: #fff;
    font-weight: 600;
    padding: 0px;
    text-decoration: underline;
    margin-bottom: 10px;
    line-height: 15px;
}

.vehicle_details_head {
   /*font-size: 13px; */ 
    color: #d1ff00;
    display: inline-block;
    width: 100px;
}

div#vehicle_img {
    float: left;
    width: 50px;
    height: 100%;
    margin-top: 5px;
}

.vehicle_details_text {
    color: #fff;
   /*font-size: 13px; */ 
    font-weight: 600;
}

span#vehicle_num_plate {
    background: white;
    border: 1px solid #cecece;
    border-radius: 5px;
    color: #6d6d6d;
    padding: 1px 7px;
   /*font-size: 13px; */ 
}

div#not_available_block {
    background: #00d1ff;
    text-align: center;
    padding: 18px;
    border-radius: 4px;
    color: #fff;
   /*font-size: 13px; */ 
    margin-top: 15px;
}

.left_window_body.remove {
    width: 100%;
    border-radius: 19px;
    transition: all 2s ease;
    position: absolute;
    z-index: 99;
    transform: translate(-350px, 0);
    -webkit-transform: translate(-350px, 0);
    /** Chrome & Safari **/
    -o-transform: translate(-350px, 0);
    /** Opera **/
    -moz-transform: translate(-350px, 0);
    /** Firefox **/
    /* background: #00e8ff; */
}

div#assigned_but.glow_text p {
    -webkit-animation: neon5 1.5s ease-in-out infinite alternate;
    -moz-animation: neon5 1.5s ease-in-out infinite alternate;
    animation: neon5 1.5s ease-in-out infinite alternate;
}

@-webkit-keyframes neon5 {
    from {
        text-shadow: 0px 0px 6px rgba(248, 136, 255, 1);
    }
    to {
        text-shadow: 0px 0px 6px rgba(103, 255, 255, 1);
    }
}

div#hidden_flipping {
    position: fixed;
    right: 0px;
    background: red;
    width: 100px;
    height: 100px;
    z-index: 99999;
}

.leaflet-control-layers.leaflet-control {
    position: fixed!important;
    bottom: 21px!important;
    right: calc(50% - 16px)!important;
}

span#status_indic {
    background: #d5d5d5;
    border-radius: 50%;
    color: transparent;
   /*font-size: 13px; */ 
    margin-right: 5px;
}

span#status_time {
    margin-left: 49px;
    /* color: #e5e5e5; */
}

/*MADE FOR SRILANKAN APP - CUSTOM CSS*/

.filterList {
    list-style: none;
}

.job_id_task {
   /*font-size: 13px; */ 
    color: #f47f51!important;
    margin-left: 12px;
    display: inline-block;
    text-align: left;
}

.details_but {
    /* background:  #c5bfbf!important; */
    padding: 2px 3px;
   /*font-size: 13px; */ 
    border-radius: 2px;
    float: right;
    cursor: pointer;
    /* margin: 3px 3px 0px 0px; */
}

.activeBooking .job_id_header_left {
    background: #cbd1f6;
}

.job_fare {
    color:  #f47f51!important;
   /* /*font-size: 13px; */ 
}

a#details_but:hover {
    background:  #f47f51!important;
    cursor: pointer;
}

.job_id_header_left {
    background: #f6f6f6;
    padding: 7px 5px;
    color: #5e5858;
    border-top: 1px solid #eae5e5;
}

.job_id_customer_num {
   /*font-size: 13px; */ 
    margin-left: 6px;
}

.job_id_main_body {
    width: 100%;
    display: inline-block;
    padding: 2px 5px;
}

.points_text {
    color: #000;
    /* font-weight: bold; */
   /*font-size: 13px; */ 
}

.points_text_header {
    color: #000;
    font-weight: bold;
   /*font-size: 13px; */ 
    margin-top: 10px;
}

.points_text_header_span {
    margin-right: 5px;
    /*font-weight: bold;*/
    width: 30%;
    float: left;
    text-align: center;
}

.font-600 {
    font-weight: 600;
}

.invoice-appointment-details-body {
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: auto;
}

.locator {
   /*font-size: 13px; */ 
    color: #000 !important;
}

.diamond1 {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: #09a7fd;
    position: relative;
    top: -4px;
    display: inline-block;
}

.diamond1:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 6px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: #09a7fd;
}

.diamond {
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-bottom-color: red;
    position: relative;
    top: -4px;
    display: inline-block;
}

.diamond:after {
    content: '';
    position: absolute;
    left: -7px;
    top: 6px;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-top-color: red;
}

.diamond_circle {
    background: white;
    position: absolute;
    top: 4px;
    z-index: 99;
    color: transparent;
    border-radius: 50%;
    left: -2px;
    width: 4px;
    height: 4px;
}

.job_id_zone {
    margin-left: 11px;
   /*font-size: 13px; */ 
    /* font-weight: 600; */
    margin-top: -2px;
}

.job_id_add {
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 16px;
    color: grey
}

.job_id_time {
   /*font-size: 13px; */ 
    /* font-weight: 600; */
    margin: 2px 0px;
}

.customer-name {
   /*font-size: 13px; */ 
    font-weight: bold;
    /* margin-left: 6px;
    margin-top: 2px; */
}

.timer {
    margin-left: 5px;
    font-weight: 700;
    float: right;
   /*font-size: 13px; */ 
}

.job_id_body .animate {
    transition: all 300ms ease-in-out;
    -webkit-transition: max-height 300ms;
    -moz-transition: max-height 300ms;
    -ms-transition: max-height 300ms;
    -o-transition: max-height 300ms;
    transition: max-height 300ms;
    background: #e5feff;
    overflow: hidden;
    max-height: 0;
}

.now-later {
   float: right;
   /* font-size : 13px !important; */
   margin-right: 10px;
}

.now, .later {
    border: none;
    color: #46c0ff;
}

.job_id_date {
    float: left;
}

.points_text {
    color: #000;
    /* font-weight: bold; */
   /*font-size: 13px; */ 
}

.service {
    margin-left: 0 !important;
    margin-top: 2px !important;
   /* font-size : 13px !important; */
}

.job_id_order_id {
   /*font-size: 13px; */ 
    /* font-weight: 600; */
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    padding: 2px;
    display: inline-block;
    text-align: center;
    width:100%;
    color: black;
    background: #dbdbdb;
}

.job_id_header_left:hover {
    background: #dfdfdf;
    transition: all 300ms ease-in-out;
    color: #fff;
}

.job_id_header_left:hover .job_id_order_id {
    background: #f47f51!important;
    border-radius: 6px;
    color: #fff;
}

.driver_div_inner {
    display: inline-block;
    width: 24%;
    text-align: center;
    border-right: 1px solid #dedddd;
    margin: 16px 0px;
}

.driver_div_fields {
    font-weight: 600;
   /*font-size: 13px; */ 
    color: #747272;
}

p.driver_div_heading {
    text-transform: uppercase;
    color: #afafaf;
   /*font-size: 13px; */ 
}

button#drivers_filters {
    width: 96%;
    margin-left: 2%;
    background:  #f47f51!important;
    border: 0px;
    padding: 6px;
   /* /*font-size: 13px; */ 
    color: #fff;
    border-bottom: 3px solid #e6e2e2;
    text-align: left;
    position: relative;
}

.drivers_filter_chevron {
    position: absolute;
    right: 6px;
    top: 9px;
}

.filtered_drivers_right {
    position: absolute;
    top: 10px;
    right: 5px;
}

.filtered_drivers_left {
    display: inline-block;
    width: 65%;
}

.filtered_drivers_name {
   /*font-size: 13px; */ 
    font-weight: 600;
}

.filtered_drivers_est {
    position: relative;
}

input.filtered_drivers_box {
    width: 90%;
    border: 1px solid #bfbcbc;
    text-align: right;
}

a.filtered_drivers_offer {
    background:  #f47f51!important;
    color: #fff;
    padding: 2px 0px;
    margin-top: 2px;
    display: inline-block;
    border-radius: 2px;
    width: 60%;
    margin-left: 30%;
    text-align: center;
    margin-top: 5px;
    border-bottom: 2px solid #dad3d3;
}

.filtered_drivers_cur {
    position: absolute;
    top: 0px;
    left: 2px;
}

.filtered_drivers_jobs {
    color: red;
   /*font-size: 13px; */ 
    font-weight: 600;
}

.filtered_drivers {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    cursor: pointer;
    min-height: 59px;
    border-left: 6px solid #00d400;
    padding: 5px;
    padding-bottom: 2px;
    padding-top: 7px;
    position: relative;
}

.filtered_drivers_dist {
    color: #000;
    font-weight: 600;
   /*font-size: 13px; */ 
}

.filtered_drivers_phn {
    color: #f47f51!important;
   /*font-size: 13px; */ 
}

.filtered_drivers_load_det {
    color: #ada5a5;
}

input.filtered_drivers_box:focus {
    border: 1px solid  #f47f51!important;
    transition: all 200ms ease-in-out;
    outline: 0px;
}

ul#dropdown_menu_filtered_drivers {
    width: 96%;
    margin-left: 2%;
    text-align: center;
   /*font-size: 13px; */ 
}

.glyphicon.glyphicon-triangle-bottom.drivers_filter_chevron.rotate {
    transform: rotate(180deg);
    transition: all 300ms ease-in-out;
}

.container_flip {
    width: 38%;
    min-width: 610px;
    height: 475px;
    z-index: 999;
    margin: 10% auto;
    position: sticky;
}

.zoomImage_flip {
    width: 38%;
    height: 80%;
    position: fixed;
    margin-left: 31%;
    margin-top: 5%;
    z-index: 10000;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.book_now_flip {
    width: 38%;
    height: 80%;
    position: fixed;
    margin-left: 31%;
    margin-top: 5%;
    z-index: 999;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

.slot_flip {
    min-width: 800px;
    width: 50%;
    height: 420px;
    position: sticky;
    margin: 10% auto;
    z-index: 999;
}

.booking {
    margin-top: 10px;
}

.slot_flip_parent, .book_now_flip_parent {
    width: 38%;
    height: 80%;
    position: fixed;
    /*margin-left: 31%;
    margin-top: 5%;*/
    z-index: 999;
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
}

#card {
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-transition: -webkit-transform 1s;
    -moz-transition: -moz-transform 1s;
    -o-transition: -o-transform 1s;
    transition: transform 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    opacity: 0;
    transition: all 400ms ease-in-out;
}

#card .front {
    background: #fff;
}

#card .back {
    background: #ffffff;
    -webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    border-radius: 4px;
}

#card.flipped {
    webkit-transform: rotateY( 180deg);
    -moz-transform: rotateY( 180deg);
    -o-transform: rotateY( 180deg);
    transform: rotateY( 180deg);
    opacity: 1;
    transition: all 400ms ease-in-out;
}

#card figure {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}

.slot-ul {
    margin-top: 30px;
    overflow: auto;
    padding-left: 0 !important;
    /*padding-left: 30px;*/
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.slot-li {
    list-style: none;
    float: left;
}

.slot-button {
    margin: 5px 0;
    background: #f47f51!important;
    border: none;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
}

.slot-button:hover, .selected-slot {
    background: rgb(223, 223, 223) !important;
    color: #000;
}

.price-active {
    background-color: lightgrey;
    color: black;
}

.slot-price {
    background-color: #000;
    color: #fff;
    padding: 10px 5px;
    border-radius: 6px;
}

.ht-90 {
    height: auto;
}

.slotMessage {
    font-weight: 600;
    color: #9e9d9d !important;
    text-align: center !important;
   /*font-size: 13px; */ 
    padding: 5px 0px;
}

.noSlotMessage {
    font-weight: 600;
    color: red !important;
    text-align: center !important;
   /*font-size: 13px; */ 
    padding: 30px 0px;
}

.details_task_ordered_name li {
    list-style: none;
    padding: 0px 0px;
}

.clear-fix {
    width: 100%;
    float: left;
}

.ht-90.fix-slots.clear-fix {
    max-height: 340px;
    min-height: 340px;
    overflow-y: scroll;
}

.left-fix-rightSideAlways {
    float: right;
}

.fix-slots::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 5px;
}

.fix-slots::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.fix-slots::-webkit-scrollbar-thumb {
    background-color: #AAA;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3)
}

.details_task_footer {
    /*background: #f6f6f6;*/
    position: fixed;
    background: transparent;
    height: 40px !important;
    overflow: hidden !important;
    padding: 8px !important;
    bottom: 1px !important;
}

.bottom-0 {
    background: #f6f6f6;
    height: 40px !important;
    overflow: hidden !important;
    padding: 8px !important;
    position: fixed;
    /*bottom: 0 !important;*/
    padding: 15px;
    overflow: auto;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div#details_task_header {
    background: #f6f6f6;
    height: 40px;
    padding: 0px 20px !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

span#details_task_header_right {
    float: right;
    line-height: 38px;
    color: red;
   /*font-size: 13px; */ 
    margin-right: 15px;
}

span#details_task_header_left {
    float: left;
    line-height: 37px;
   /* /*font-size: 13px; */ 
    font-weight: 600;
    margin-left: 15px;
}

ul#details_task_tabs li.active a {
    background: transparent;
    color:#f47f51!important;
    border: 0px;
    border-radius: 0px;
    border-bottom: 3px solid #399cd1;
   /* /*font-size: 13px; */ 
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

ul#details_task_tabs li a {
    background: transparent;
    color: #b8b8b8;
    border: 0px;
    border-radius: 0px;
    border-bottom: 3px solid #ffffff;
   /* /*font-size: 13px; */ 
    font-weight: 600;
    transition: all 300ms ease-in-out;
}

ul#details_task_tabs {
    padding-left: 30px;
    border-bottom: 2px solid #f5f3f3;
}

button#details_task_cancel {
    background: #f0524f;
    border: 0px;
    padding: 4px 43px;
    color: #fff;
   /*font-size: 13px; */ 
    border-bottom: 2px solid #d4d1d1;
}

.details_task_inner_details {
    width: 100%;
    display: inline-block;
    padding: 0 5px;
   /*font-size: 13px; */ 
}

.prl-0 {
    padding-left: 0 !important;
}

.mrt-0 {
    margin-top: 0px !important;
}

.mrt-15 {
    margin-top: 15px !important;
}

.mrl-10 {
    margin-left: 10px !important;
}

.mrb-10 {
    margin-bottom: 10px;
}

.mrb-5 {
    margin-bottom: 5px;
}

.details_task_ordered_det .glyphicon {
    color: #afacac!important;
    margin-left: 0px!important;
    margin-right: 9px;
    line-height: 21px;
}

.details_task_footer {
    padding: 15px;
    overflow: auto;
    width: 100%;
}

.close_popUp {
    float: right;
    margin-bottom: 15px;
    background:  #f47f51!important;
    color: #FFF;
    border: none;
    border-radius: 2px;
    padding: 5px;
}

.details_task_inner_details .glyphicon {
   /*font-size: 13px; */ 
}

.details_task_ordered_phone {
   /*font-size: 13px; */ 
    color: #828282;
}

.details_task_shypment_type {
   /* /*font-size: 13px; */ 
    font-weight: 600;
}

img#shypment_type {
    border: 1px solid #ede4e4;
    padding: 2px;
    margin-top: 15px;
    width: 45%;
    height: 45%;
}

img#zoomed_shypment_type {
    border: 1px solid #ede4e4;
    padding: 6px;
    margin-top: 0;
    width: 100%;
    height: 135px;
}

.details_task_w_q_other {
    display: inline-block;
    width: 30%;
}

div#shypement_header {
    margin: 10px 0px;
    margin-top: 0px;
}

.details_task_timings_sect {
    display: inline-block;
    width: 49%;
}

.details_task_wt_icn {
    margin-left: 0px!important;
   font-size: 13px!important;
    color: #a2a2a2!important;
    margin-right: 5px;
}

.details_task_timings {
    margin: 15px 0px;
}

.details_task_timings_txt {
   /*font-size: 13px; */ 
    font-weight: 600;
}

span#details_text_text {
   /*font-size: 13px; */ 
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
}

div#vehicle_assign_task {
    padding: 0px 30px;
}

img.details_task_images {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #dcd9d9;
}

.details_task_images_parent2 {
    display: inline-block;
    margin-top: 8px;
    margin-left: 5px;
}

img.details_task_images {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #dcd9d9;
}

.details_task_images_parent {
    float: left;
    margin-top: 11px;
}

.points_text.width_for {
    width: 40px;
    display: inline-block;
}

.details_task_driver_details {
    font-weight: 600;
    color: #565856;
   /*font-size: 13px; */ 
}

.points_text.width_for2 {
    width: 83px;
    display: -webkit-inline-box;
}

.container_flip_parent {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: 999;
    visibility: hidden;
}

.zoomImage_flip_parent {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: 10000;
    visibility: hidden;
}

.slot_flip_parent, .book_now_flip_parent {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0px;
    z-index: 999;
    visibility: hidden;
}

.container_flip_parent.show_div {
    visibility: visible;
    transition: all 1000ms ease-in-out;
}

.slot_flip_parent.show_div, .book_now_flip_parent.show_div {
    visibility: visible;
    transition: all 1000ms ease-in-out;
}

.zoomImage_flip_parent.show_div {
    visibility: visible;
    transition: all 1000ms ease-in-out !important;
}

.tabs_details.details_description_activity {
    padding: 10px 30px!important;
    min-height: 380px;
}

figure.back {
    min-height: 80%;
    overflow: auto;
    -webkit-box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 0px 55px 10px rgba(0, 0, 0, 0.14);
}

button#details_task_close {
    background: #5d8800;
    border: 0px;
    padding: 4px 43px;
    color: #fff;
   /*font-size: 13px; */ 
    border-bottom: 2px solid #d4d1d1;
}

div#details_task_buttons_div {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.job_id_add2 {
    display: inline-block;
    min-height: 45px;
   /*font-size: 13px; */ 
}

.booking-time {
   /*font-size: 13px; */ 
}

.activity_status_text {
    /*border: 1px solid #d7d7d7;*/
    padding: 0px 5px;
    border-radius: 5px;
    /*background: #fff7f7;*/
}

.drivers_signal {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #00d812;
    display: inline-block;
    content: '';
    margin-right: 5px;
    color: transparent;
    margin-top: 5px;
}

.filtered_drivers_now_status {
    position: absolute;
    left: 14px;
    top: 3px;
}

.filtered_drivers_now_ago {
    position: absolute;
    left: 60px;
    top: 1px;
    color: darkgreen;
}

.filtered_drivers_now_status {
    position: absolute;
    left: 15px;
    top: 2px;
}

input#search_provider {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid #b3aeae;
    width: 100%;
    display: inline-block;
    padding: 5px;
    outline: 0px;
    margin-top: 3px;
   /*font-size: 13px; */ 
    color: #fff;
    cursor: pointer
}

input#search_provider::placeholder {
    color: #fff;
}

input.search_provider_within_tab {
    background: transparent;
    border: 0px;
    border-bottom: 1px solid rgba(178, 174, 174, 0.72);
    width: 100%;
    display: inline-block;
    padding: 0px 5px 5px;
    outline: 0px;
    margin-top: 0px;
   /*font-size: 13px; */ 
    /* color: #fff; */
    color: #000;
    cursor: pointer;
    margin-bottom: 20px;
}

input.search_provider_within_tab::placeholder {
    color: rgba(178, 174, 174, 0.72);
   /*font-size: 13px; */ 
}

span#sesarch_driver_close {
    position: absolute;
    right: 5px;
   /* /*font-size: 13px; */ 
    color: #fff;
    top: -4px;
    cursor: pointer
}

.search_driver_search_within_tab {
    position: absolute !important;
    right: 5px !important;
    color: rgba(178, 174, 174, 0.72) !important;
    top: -4px !important;
    cursor: pointer !important;
    line-height: 18px !important;
    float: right !important;
    margin-right: 2% !important;
   /* font-size : 13px !important; */
}

.close_search_driver_search_within_tab {
    position: absolute !important;
    right: 5px !important;
    color: rgba(178, 174, 174, 0.72) !important;
    top: -4px !important;
    cursor: pointer !important;
    line-height: 18px !important;
    float: right !important;
    margin-right: 2% !important;
   /* font-size : 13px !important; */
}

.search_driver_search_within_tab:hover {
    color: dodgerblue;
}

div#confirm_booking {
    width: 500px;
    margin: 0px auto;
}

button.confirm_booking_but {
    padding: 10px 31px;
    border: 0px;
    color: #fff;
    border-bottom: 2px solid #dcdcdc;
}

p#confirm_booking_txt {
   /* /*font-size: 13px; */ 
    margin-bottom: 13px;
}

h4#confirm_booking_header {
   /* /*font-size: 13px; */ 
    color: #0b6390;
}

#noProvider {
    margin: 0px auto;
}

.intl-tel-input.allow-dropdown {
    width: 100% !important;
}

#noProvider .modal-dialog {
    margin-top: 15%;
}

.noProviderResult p {
   font-size: 12.5px;
}

.left-fix {
    float: left;
}

.right-fix {
    float: right;
}

#noLatLong {
    margin: 0px auto;
}

#noLatLong .modal-dialog {
    margin-top: 15%;
}

#DateExpired {
    margin: 0px auto;
}

#DateExpired .modal-dialog {
    margin-top: 15%;
}

/*REQUESTING LOADERS*/

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg)
    }
    to {
        -webkit-transform: rotate(360deg)
    }
}

@-moz-keyframes rotate {
    from {
        -moz-transform: rotate(0deg)
    }
    to {
        -moz-transform: rotate(360deg)
    }
}

@-o-keyframes rotate {
    from {
        -o-transform: rotate(0deg)
    }
    to {
        -o-transform: rotate(360deg)
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes fade {
    from {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-moz-keyframes fade {
    from {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-o-keyframes fade {
    from {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

/* CONTAINER */

.container_requesting_driver {
    width: 150px;
    height: 150px;
    /* PRESENTATIONAL PURPOSES */
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /**/
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 6px #222, 0 0 6px 10px #444;
    -moz-box-shadow: 0 0 0 6px #222, 0 0 6px 10px #444;
    box-shadow: 0 0 0 6px #222, 0 0 6px 10px #444
}

/* TEXT */

#content {
    background: #222;
    background: -webkit-linear-gradient(#222, #111);
    background: -moz-linear-gradient(#222, #111);
    background: -o-linear-gradient(#222, #111);
    background: linear-gradient(#222, #111);
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    font: normal normal normal 12px/140px 'Electrolize', Helvetica, Arial, sans-serif;
    color: #fff
}

#content span {
    vertical-align: middle;
    -webkit-animation: fade 1s linear infinite;
    -moz-animation: fade 1s linear infinite;
    -o-animation: fade 1s linear infinite;
    animation: fade 1s linear infinite
}

/* SPINNING GRADIENT */

.ring {
    margin: 0 auto;
    border-radius: 110px;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-animation: rotate 1s linear infinite;
    -moz-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite
}

/* COLORS */

.green {
    background: -webkit-linear-gradient(#bfff00, transparent, #bfff00);
    background: -moz-linear-gradient(#bfff00, transparent, #bfff00);
    background: -o-linear-gradient(#bfff00, transparent, #bfff00);
    background: linear-gradient(#bfff00, transparent, #bfff00)
}

.blue {
    background: -webkit-linear-gradient(#3cf, transparent, #3cf);
    background: -moz-linear-gradient(#3cf, transparent, #3cf);
    background: -o-linear-gradient(#3cf, transparent, #3cf);
    background: linear-gradient(#3cf, transparent, #3cf)
}

.red {
    background: -webkit-linear-gradient(#cd5c5c, transparent, #cd5c5c);
    background: -moz-linear-gradient(#cd5c5c, transparent, #cd5c5c);
    background: -o-linear-gradient(#cd5c5c, transparent, #cd5c5c);
    background: linear-gradient(#cd5c5c, transparent, #cd5c5c)
}

.purple {
    background: -webkit-linear-gradient(#e166e1, transparent, #e166e1);
    background: -moz-linear-gradient(#e166e1, transparent, #e166e1);
    background: -o-linear-gradient(#e166e1, transparent, #e166e1);
    background: linear-gradient(#e166e1, transparent, #e166e1)
}

div#requesting_loader_parent {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
}

div#requesting_loader {
    position: fixed;
    z-index: 9999999999999999;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.2);
}

div#busy_drivers, div#loggedOut {
    position: relative;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: 15% auto;
    color: #444;
    padding: 25px;
    z-index: 9999;
   /* /*font-size: 13px; */ 
    line-height: 34px;
    background: white;
    border-radius: 5px;
}

button#busy_drivers_ok {
    padding: 0px 50px;
    border: 0px;
    margin-top: 14px;
    color: #fff;
    background: #ff3c3c;
    border-bottom: 2px solid #d0c3c3;
}

div#loading_drivers_parent {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 99;
}

.loading_drivers_loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading_drivers_loader {
    border: 9px solid #f3f3f3;
    border-radius: 50%;
    border-top: 9px solid #3498db;
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 0.5s linear infinite;
}

.loading_drivers_loader_parent {
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}

div#right_front_div {
    width: 100%;
    height: 100%;
}

.ml-20 {
    margin-left: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}

.input-group-addon {
    width: 20%;
    float: left;
   /*font-size: 13px; */ 
    padding: 8px 5px !important;
    background: transparent;
    border-right: none;
}

.service {
    margin-left: 0 !important;
    margin-top: 10px !important;
   /* font-size : 13px !important; */
}

.now-later {
    float: right;
}

.now, .later {
    border: none;
    color:  #f47f51!important;
}

.slots {
    width: 80%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 25px;
    float: left;
    margin-bottom: 5px;
    border-radius: 2px;
    border: 1px solid #f4f1f1;
}

.book-button {
    float: right !important;
    background-color:  #f47f51!important;
    padding: 5px !important;
    margin-left: 0 !important;
    border: none !important;
    color: #fff !important;
    border-radius: 2px !important;
}

.right-tabs {
    overflow: auto;
}

.available-slots {
    margin-top: 10px !important;
}

.slots-button {
    margin: 5px;
    background-color: #dfdfdf;
    color: #000;
    border: none;
    padding: 2px;
    float: left;
}

.slot-timing {
    padding: 15px;
    font-weight: bold;
}

.indicator-active {
    background: #73bd00 !important;
}

.indicator-busy {
    background: #ffde35 !important;
}

#active-tab, #offline-tab, #total-tab, #search {
    height: 74vh;
    max-height: 74vh;
    overflow-y: scroll !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
}

.customer-name {
   /*font-size: 13px; */ 
    font-weight: bold;
    margin-left: 6px;
    margin-top: 2px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mt-2 {
    margin-top: 2px;
}

.provider-profile-pic {
    float: left;
    margin: 10px;
}

.provider-profile {
    float: left;
}

.booking-slots {
    margin-top: 5px;
    margin-left: -30px;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.border-bottom {
    border-bottom: 1px solid #efefef;
}
.bgWhite{
    background: #fff;
    border-radius: 4px;
}    
.slot-select {
    text-transform: none;
    padding: 5px 2px;
    padding: 2px !important;
    border-radius: 2px !important;
    width: 40%;
    margin-left: 45px;
    margin-top: 5px;
}

.custom-book-button {
    background-color: #6572bb;
    color: #fff;
    border: none;
    border-radius: 1px;
    padding: 3px 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.ml-24 {
    margin-left: 24px;
}

.width-100 {
    width: 100%;
}

.provider-profile-details {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    background: #fff;
    height: 100%;
}

.provider_job_list {
    height: 49vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.provider-profile-details-header {
    background-color: #02689E;
    color: #fff;
}

.book-now-profile-details-header {
    background-color: #fff;
    color: #000;
}

.provider-profile-details-body {
    background-color: #3f51b5;
    color: #fff;
    padding-bottom: 10px;
}

.device-status {
    float: left;
    width: 25%;
}

.device-name {
   /*font-size: 13px; */ 
    margin-bottom: 5px;
}

.device-avail {
    font-weight: bold;
}

.cross-button {
    background-color: #02689E;
    border: none;
    font-weight: bold;
    margin: 0;
   /* /*font-size: 13px; */ 
}

.provider-id {
    float: left;
    margin: 10px;
}

.provider-status {
    float: right;
    margin: 10px;
    background-color: #73bd00;
    border-radius: 5px;
    padding: 3px;
}

.provider-status-offline {
    float: right;
    margin: 10px;
    background-color: grey;
    border-radius: 5px;
    padding: 3px;
}

.total-tab {
    display: none;
    position: absolute;
    top: 16%;
    width: 100%;
    height: 495px;
    background: #fff;
}

.id-status {
    overflow: auto;
   /*font-size: 13px; */ 
}

.provider-location {
   /*font-size: 13px; */ 
    margin-left: 10px;
}

.locator-icon {
    float: left;
    margin-right: 5px;
}

.width-50 {
    width: 50%;
    overflow: auto;
}

.left-job-details {
    margin-top: 15px;
    float: left;
}

.right-job-details {
    margin-top: 15px;
    float: right;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}

.invoice-header {
    background-color: rgba(246, 246, 246, 0.25) !important;
    padding: 10px 15px;
    overflow: auto;
    border-bottom: 1px solid #f6f6f6;
}

.invoice-appointment-details {
    border: 1px solid #f6f6f6;
    padding: 5px 10px;
    overflow: auto;
}

.invoice-total {
    font-weight: bold;
   /* /*font-size: 13px; */ 
}

#details_job_services, #details_job_payment {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    padding: 0 30px 15px 30px;
    overflow: auto;
}

#details_job_payment ul {
    list-style: none;
    float: left;
}

#details_job_payment li {
    margin-bottom: 5px;
}

.f-bold {
    font-weight: bold;
}

.zoomed-Image {
    display: none;
    position: absolute;
    z-index: 9999;
    bottom: -290px;
    padding: 30px;
    background: #fff;
    border: 1px solid #efefef;
    width: 100%;
}

.invoice-left, .invoice-right {
    padding: 20px;
    overflow: auto;
}

.receipt-body {
    margin-top: 10px;
}

.width-60 {
    width: 60%;
}

.width-40 {
    width: 40%;
}

.jobImageUl {
    list-style: none !important;
}

.cursor-pointer {
    cursor: pointer !important;
}

.container {
    position: relative;
    width: 100%;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    height: 85%;
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 42%;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 0.5;
    background-color: #000;
}

.text {
    color: white;
   /*font-size: 13px; */ 
    padding: 20% 40%;
}

.zoom-image-container {
    background-color: #efefef !important;
    padding: 0;
}

.zoomed-image {
    width: 100% !important;
    height: 100% !important;
}

.black {
    color: rgba(0, 0, 0, 0.57) !important;
    cursor: pointer !important;
}

.width_4_left {
    width: 23%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
   /*font-size: 13px; */ 
}

.width_2_right {
    width: 49%;
    text-align: center;
    cursor: pointer;
    border-bottom: 3px solid #fff;
   /*font-size: 13px; */ 
}

.search-job-history, .activity-timeline-provider-info {
    background-color: #e4e4e4;
    padding: 15px;
}

.search-job-input {
    width: 90%;
    background-color: transparent;
    border: none;
    padding: 5px 0;
    border-bottom: 1px solid #999;
}

.search_job {
    color: #999 !important;
   /* font-size : 13px !important; */
}

#active-tab::-webkit-scrollbar-track, #offline-tab::-webkit-scrollbar-track, #total-tab::-webkit-scrollbar-track, #left_full_body::-webkit-scrollbar-track, #search::-webkit-scrollbar-track, #provider_activity_timeline::-webkit-scrollbar-track, #assigned::-webkit-scrollbar-track, #completed::-webkit-scrollbar-track, #unassigned::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
}

#active-tab::-webkit-scrollbar, #offline-tab::-webkit-scrollbar, #total-tab::-webkit-scrollbar, #left_full_body::-webkit-scrollbar, #search::-webkit-scrollbar, #provider_activity_timeline::-webkit-scrollbar, #assigned::-webkit-scrollbar, #completed::-webkit-scrollbar, #unassigned::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}

#active-tab::-webkit-scrollbar-thumb, #offline-tab::-webkit-scrollbar-thumb, #total-tab::-webkit-scrollbar-thumb, #left_full_body::-webkit-scrollbar-thumb, #search::-webkit-scrollbar-thumb, #provider_activity_timeline::-webkit-scrollbar-thumb, #assigned::-webkit-scrollbar-thumb, #completed::-webkit-scrollbar-thumb, #unassigned::-webkit-scrollbar-thumb {
    background-color: #6572bb;
}

.heightLight {
    background: #e5f6ff;
    padding: 3px;
}

.width-180 {
    width: 180px;
}

.fnt-12 {
   /*font-size: 13px; */ 
}

#provider_activity_timeline {
    max-height: 67.5vh;
    overflow-y: scroll;
    min-height: 0 !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .14);
    padding-top: 25px !important;
}

.displayNone {
    display: none;
}

.ease-in {
    animation-timing-function: ease-in;
}

.info {
    margin-top: 13px;
   /* /*font-size: 13px; */ 
    margin-right: 14px;
    color: lightgrey;
    cursor: pointer;
}

.info:hover {
    color: rgba(76, 166, 214, 1);
}

.provider-profile {
    width: 80%;
    padding: 4px;
}

.info-div {
    width: 12%;
    float: right;
   /*font-size: 13px; */ 
    margin-top: 10px;
    cursor: pointer;
    color: rgba(76, 166, 214, 1);
}

.info-div:hover {
    color: #6572bb;
}

.jobactive {
    background: #e5feff;
}

.booking-options {
    width: 80%;
    float: left;
    padding-left: 23px;
    margin-top: 6px;
    margin-left: 10px;
}

.booking-options-book-button {
    margin-right: 8px;
}

.booking-options-book-button, .booking-options-book-confirm-button {
    background: #3f51b5;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 2px 4px;
   font-size : 13px
}

.booking-options-book-button:hover, .booking-options-book-confirm-button:hover {
    background: #95a2e0;
}

.no-providers {
    text-align: center;
   /*font-size: 13px; */ 
    padding: 50px 10px;
    float: left;
    width: 100%;
}

.loadinggif {
    background: url('http://www.hsi.com.hk/HSI-Net/pages/images/en/share/ajax-loader.gif')no-repeat right center;
    right: 5px;
}

#refresh_Provider {
    color: #fff;
    margin-left: 5px;
}

.padding-0 {
    padding-top: 0 !important;
}

.padding-4 {
    padding-top: 4px !important;
}

.timer {
    margin-left: 5px;
    font-weight: 700;
    float: right;
}


.unassign {
    background-color: red;
    border: none;
    padding: 2px 6px;
    border-radius: 2px;
    margin-top: 15px;
}

.unassign-modal {
    height: 100%;
    overflow: hidden;
    width: 570px;
    /* position: absolute; */
    left: 21%;
    /* right: 50%; */
}

.f-bold {
    font-weight: bold;
}

.color-light-blue {
    color: #3f51b5;
}

.red-font {
    margin: 10px 13px 0 13px;
    color: red;
    font-weight: bold;
   /*font-size: 13px; */ 
}

.confirm-button {
    background: limegreen;
    color: #fff;
    border: none;
    padding: 2px 22px;
   /*font-size: 13px; */ 
    border-radius: 2px;
    margin-right: 5px;
}

.cancel-button {
    color: #fff;
    border: none;
    padding: 2px 22px;
   /*font-size: 13px; */ 
    border-radius: 2px;
    margin-right: 5px;
    background-color: orangered;
}

.job_id_header {
    position: relative;
}

.modal-body-para {
   /*font-size: 13px; */ 
}

.button-active {
    background-color: rgba(76, 166, 214, 1);
}

.filterlistContainer:hover {
    background: #d7ddfd;
    cursor: pointer;
}

.booking-status-header {
   /*font-size: 13px; */ 
}
.left_window_header p.booking-status-header{
    color: #fff !important;
}     
#active-tab[_ngcontent-c14]::-webkit-scrollbar-thumb, #assigned[_ngcontent-c14]::-webkit-scrollbar-thumb, #completed[_ngcontent-c14]::-webkit-scrollbar-thumb, #left_full_body[_ngcontent-c14]::-webkit-scrollbar-thumb, #offline-tab[_ngcontent-c14]::-webkit-scrollbar-thumb, #provider_activity_timeline[_ngcontent-c14]::-webkit-scrollbar-thumb, #search[_ngcontent-c14]::-webkit-scrollbar-thumb, #total-tab[_ngcontent-c14]::-webkit-scrollbar-thumb, #unassigned[_ngcontent-c14]::-webkit-scrollbar-thumb{
    background-color: #5d6072;
} 
.job_id_main_body .customerData{
    font-size: 14px !important;
}
.job_id_body .svgIcons{
    padding-right: 5px;
    opacity: 0.8 !important;
} 
.left_window_body.BookingList {
    padding: 13px!important;
}
/* .bookingtype1,.bookingtype2,.bookingtype3 {
    margin: 10px !important;
    border: 1px solid #ece7e7 !important;
} */
.job_id_body {
    padding: 0px 5px !important;
}
@media (min-width:992px) and (max-width:1300px){
    .countDown{
        padding:1px 2px !important;
    }
}